{% extends "::layout.html.twig" %}

{% block title %}NinjaTooken - {{ 'compte.register.titre'|trans({}, 'common') }}{% endblock %}
{% block description %}{{ 'compte.register.meta.description'|trans({}, 'common') }}{% endblock %}
{% block keywords %}{{ 'compte.register.meta.keywords'|trans({}, 'common') }}{% endblock %}


{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('fos_user_registration_register') }}" itemprop="url">
									<span itemprop="title">{{ 'compte.register.titre'|trans({}, 'common') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<form action="#" {{ form_enctype(form) }} method="POST" accept-charset="UTF-8" class="full" id="register">
					<h3>{{ 'compte.register.resume'|trans({}, 'common') }}</h3>
                    {{ form_errors(form) }}
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="pseudo">{{ 'compte.register.pseudo'|trans({}, 'common') }}</label>
						</div>
						<div class="span8">
							<input type="text" name="fos_user_registration_form[username]" id="pseudo" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="pwd">{{ 'compte.register.motPasse'|trans({}, 'common') }}</label>
						</div>
						<div class="span8">
							<input type="password" name="fos_user_registration_form[plainPassword][first]" id="pwd" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="pwdRepeat">{{ 'compte.register.motPasseRepeter'|trans({}, 'common') }}</label>
						</div>
						<div class="span8">
							<input type="password" name="fos_user_registration_form[plainPassword][second]" id="pwdRepeat" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="mail">{{ 'compte.register.mail'|trans({}, 'common') }}</label>
						</div>
						<div class="span8">
							<input type="email" name="fos_user_registration_form[email]" id="mail" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required">{{ 'compte.register.sexe'|trans({}, 'common') }}</label>
						</div>
						<div class="span8">
							<input type="radio" name="fos_user_registration_form[gender]" value="m" id="input_sexe_h" checked><label for="input_sexe_h"> {{ 'compte.register.homme'|trans({}, 'common') }}</label>
							<input type="radio" name="fos_user_registration_form[gender]" value="f" id="input_sexe_f"><label for="input_sexe_f"> {{ 'compte.register.femme'|trans({}, 'common') }}</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required">{{ 'compte.register.langue'|trans({}, 'common') }}</label>
						</div>
						<div class="span8">
							<input type="radio" name="fos_user_registration_form[locale]" value="fr" id="input_langue_fr" checked><label for="input_langue_fr"> {{ 'compte.register.francais'|trans({}, 'common') }}</label>
							<input type="radio" name="fos_user_registration_form[locale]" value="en" id="input_langue_en"><label for="input_langue_en"> {{ 'compte.register.anglais'|trans({}, 'common') }}</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="checkbox" name="fos_user_registration_form[receive_newsletter]" value="1" id="input_news"><label for="input_news"> {{ 'compte.register.receiveNewsletter'|trans({}, 'common') }}</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="checkbox" name="fos_user_registration_form[receive_avertissement]" value="1" id="input_mail"><label for="input_mail"> {{ 'compte.register.receiveAvertissement'|trans({}, 'common') }}</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required">{{ 'compte.register.captcha'|trans({}, 'common') }}</label>
						</div>
						<div class="span8" id="mc">
							<p>{{ 'compte.register.captchaInstruction'|trans({}, 'common') }}</p>
							<canvas id="mc-canvas">{{ 'compte.register.captchaError'|trans({}, 'common') }}</canvas>
							<input type="hidden" id="mc-action" value="{{ path('fos_user_registration_register') }}">
						</div>
					</div>
					{{ form_widget(form._token) }}
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="submit" value="{{ 'menu.jouer'|trans({}, 'menu') }}" class="button" disabled>
						</div>
					</div>
				</form>
{% endblock %}
