{% extends "::layout.html.twig" %}

{% block title %}NinjaTooken - {{ 'compte.reset.titre'|trans({}, 'common') }}{% endblock %}
{% block description %}{{ 'compte.reset.meta.description'|trans({}, 'common') }}{% endblock %}
{% block keywords %}{{ 'compte.reset.meta.keywords'|trans({}, 'common') }}{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('fos_user_resetting_request') }}" itemprop="url">
									<span itemprop="title">{{ 'compte.reset.titre'|trans({}, 'common') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
		{% for type, messages in app.session.flashBag.all %}
		    {% for message in messages %}
			<div class="flash-notice">
			    {{ message|trans({}, 'FOSUserBundle') }}
			</div>
		    {% endfor %}
		{% endfor %}
		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="full">
			{{ form_widget(form) }}
			<div class="row-fluid">
				<div class="span8 offset4">
					<input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" class="button">
				</div>
			</div>
		</form>
{% endblock %}
