{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Guide du débutant{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}

							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Mon compte</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_user_captures') }}" itemprop="url">
									<span itemprop="title">Captures</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<div class="capture pull-left">
						<a href="#voir" class="view"><img src="http://i.imgur.com/fnBays.jpg"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:0}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					<br class="clear">
					
					<div class="pagination">
						<ul>
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</section>
{% endblock %}
