{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ 'menu.capture'|trans({}, 'menu') }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block breadcrumbs1 %}

							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.compte'|trans({}, 'menu') }}</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_user_captures') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.capture'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section>
				{% for flashMessage in app.session.flashbag.get('notice') %}
				    <div class="flash-notice">
					{{ flashMessage }}
				    </div>
				{% endfor %}
				{% if captures is not empty %}
					{% for capture in captures %}
					<div class="capture pull-left">
						<a href="{{ capture.url }}" target="_blank" class="view"><img src="{{ capture.urlTmb }}"></a>
						<a href="{{ path('ninja_tooken_user_captures_supprimer', {id:capture.id}) }}" class="delete"><i class="icon-trash"></i></a>
					</div>
					{% endfor %}
					<br class="clear">
					{% include 'pagination.html.twig' with {
						currentPage: page,
						paginationPath: path('ninja_tooken_user_captures', {'page':''}),
						paginationAfter: '',
						lastPage: nombrePage,
						extremePagesLimit: 2,
						nearbyPagesLimit: 3
					} only %}
				{% else %}
					{{ 'capture.noCapture'|trans }}
				{% endif %}
					<br class="clear">
				</section>
{% endblock %}
