			{% import "avatar.html.twig" as avatar %}
			<div class="accountLogged">
                            <div class="pseudo"><strong>{{ user.username }}</strong>{% if user.ninja is not empty %} {% if user.ninja.classe is not empty %}<span class="{{ class[user.ninja.classe]|lower }}">{{ class[user.ninja.classe] }}</span>{% endif %}{% if user.level is not empty %}, Nv {{ user.level }}{% endif %}{% endif %}</div>
                            <img src="{{ avatar.getUrl(user) }}" class="pull-left" alt="">
                            <nav>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_user_messagerie') }}" class="pull-left"><i class="icon-envelope-alt"></i> {{ user.numNewMessage }} message{% if user.numNewMessage>1 %}s{% endif %}</a></li>
                                    <li><a href="{{ path('ninja_tooken_user_amis') }}" class="pull-left"><i class="icon-heart"></i> Amis</a></li>
                                    <li><a href="{% if user.clan %}{{ path('ninja_tooken_clan', {clan_nom:user.clan.slug}) }}{% else %}{{ path('ninja_tooken_clans', {'page':1}) }}{% endif %}" class="pull-left"><i class="icon-ticket"></i> Clan</a></li>
                                    <li><a href="{{ path('ninja_tooken_user_parametres') }}" class="pull-left"><i class="icon-cog"></i> Paramètres</a></li>
                                    <li><a href="{{ path('ninja_tooken_user_captures') }}" class="pull-left"><i class="icon-picture"></i> Captures</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}" class="pull-left"><i class="icon-signout"></i> Déconnexion</a></li>
                                </ul>
                            </nav>
                        </div>