{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken - {{ user.username }}{% endblock %}
{% block description %}{{ user.biography|raw|striptags|slice(0,255) }}{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, {{ user.username }}, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_user_fiche', {user_nom:user.slug}) }}" itemprop="url">
									<span itemprop="title">{{ user.username }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="main span8">
						<h5>Inscrit depuis le {{ user.createdAt|localizeddate('full', 'none', app.request.locale) }}</h5>
						{{ render(controller('NinjaTookenGameBundle:Default:signature', {'user':user})) }}

						{{ user.description|raw|purify('full') }}

						{% if user.oldUsernames is not empty %}
						<h3>Autre pseudo utilisé</h3>
						<p>
							{% for oldUsername in user.oldUsernames %}
								<strong>{{ oldUsername }}</strong>{% if not loop.last %}, {% endif %}
							{% endfor%}
						</p>
						{% endif %}

						{% if friends is not empty %}
						<h3>Amis</h3>
						<p><span class="legend online"> En ligne</span>
						<span class="legend offline"> Hors ligne</span></p>

							{% for friend in friends %}
						<div class="membre online pull-left">
							<a href="{{ path('ninja_tooken_user_fiche', {user_nom:friend.friend.slug}) }}"><img src="{{ avatar.getUrl(friend.friend) }}">{{ friend.friend.username }}</a>
						</div>
							{% endfor %}

						<br class="clear">

						{% include 'pagination.html.twig' with {
							currentPage: page,
							paginationPath: path('ninja_tooken_user_fiche', {user_nom: user.slug, 'page': ''}),
							paginationAfter: '',
							lastPage: nombrePage,
							extremePagesLimit: 2,
							nearbyPagesLimit: 3
						} only %}
						{% endif %}
					</section>

					<aside class="span4">
						<form action="{{ path('ninja_tooken_user_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="Chercher" class="span10">
							<input type="submit" name="s" value="Ok !" class="span2">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': 0, 'user': user.id})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
