{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken - {{ 'menu.messagerie'|trans({}, 'menu') }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block breadcrumbs1 %}

							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.compte'|trans({}, 'menu') }}</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_user_messagerie') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.messagerie'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<aside class="span4">
						{% if app.request.get('add') != 1 %}<a href="{{ path(app.request.attributes.get('_route'), {'page':page}) }}?add=1" class="button mini">{{ 'messagerie.newMessage'|trans }}</a><br><br>{% endif %}
						<h3>
							<i class="icon-inbox"></i>
							{{ 'messagerie.boite'|trans }} <a href="{{ path('ninja_tooken_user_messagerie') }}"{% if app.request.attributes.get('_route')=='ninja_tooken_user_messagerie' %} class="actif"{% endif %}>{{ 'messagerie.reception'|trans }}</a> - 
							<a href="{{ path('ninja_tooken_user_messagerie_envoi') }}"{% if app.request.attributes.get('_route')=='ninja_tooken_user_messagerie_envoi' %} class="actif"{% endif %}><i class="icon-reply"></i> {{ 'messagerie.envoi'|trans }}</a></h3>
						{% if messages is not empty %}
							{% set dateActu = '' %}
							{% for message in messages %}
								{% if dateActu is empty or dateActu|date("m/d/Y") != message.dateAjout|date("m/d/Y") %}
									{% set dateActu = message.dateAjout %}
									{% if dateActu|date("m/d/Y") == "now"|date("m/d/Y") %}
								<h4>{{ 'messagerie.aujourdhui'|trans }}</h4>
									{% elseif dateActu|date("m/d/Y") == "yesterday"|date("m/d/Y") %}
								<h4>{{ 'messagerie.hier'|trans }}</h4>
									{% else %}
								<h4>{{ dateActu|localizeddate('full', 'none', app.request.locale) }}</h4>
									{% endif %}
								{% endif %}
								{% set new = false %}
								{% if app.request.attributes.get('_route')=='ninja_tooken_user_messagerie' %}
									{% for receiver in message.receivers if receiver.destinataire == app.user and receiver.dateRead is empty %}{% set new = true %}{% endfor %}
								{% endif %}
								<div class="messagerie">
									<a href="{{ path(app.request.attributes.get('_route'), {'page':page}) }}?id={{ message.id }}&del=1" class="pull-right"><i class="icon-trash"></i></a>
									<p><a href="{{ path(app.request.attributes.get('_route'), {'page':page}) }}?id={{ message.id }}"{% if id == message.id %} class="actif"{% endif %}>{% if new %}<i class="icon-eye-open"></i>{% endif %} {{ message.dateAjout|localizeddate('none', 'short', app.request.locale) }} <strong>{{ message.nom }}</strong></a></p>
									<p>{{ 'messagerie.de'|trans }} <a href="{{ path('ninja_tooken_user_fiche', {user_nom:message.author.slug}) }}">{{ message.author.username }}</a>
									{{ 'messagerie.a'|trans }} {% for receiver in message.receivers %}<a href="{{ path('ninja_tooken_user_fiche', {user_nom:receiver.destinataire.slug}) }}">{{ receiver.destinataire.username }}</a>{% if not loop.last %},{% endif %}{% endfor %}</p>
								</div>
							{% endfor %}

							{% include 'pagination.html.twig' with {
								currentPage: page,
								paginationPath: path(app.request.attributes.get('_route'), {'page': ''}),
								paginationAfter: '?id=' ~ id,
								lastPage: nombrePage,
								extremePagesLimit: 1,
								nearbyPagesLimit: 2
							} only %}
						{% else %}
						<h4>Vous n'avez pas {% if app.request.attributes.get('_route')=='ninja_tooken_user_messagerie' %}reçu{% else %}envoyé{% endif %} de message</h4>
						{% endif %}
					</aside>
					<section class="span8">
						{% if app.request.get('add') == 1 %}
						<div class="main">
							<h3>Nouveau message</h3>
							<form action="{{ path(app.request.attributes.get('_route'), {'page':page}) }}?add=1" {{ form_enctype(form) }} method="POST" accept-charset="UTF-8" class="full">
								<div class="row-fluid">
									<div class="span3 offset1"><label class="libelle required">{{ 'label.destinataire'|trans }}</label></div>
									<div class="span8">
										<ul id="destinations" class="fake-input clearfix" data-find="{{ path('ninja_tooken_user_find') }}"></ul>
									</div>
								</div>
								{{ form_widget(form) }}
								<div class="row-fluid">
									<div class="span8 offset4">
										<input type="submit" value="{{ 'action.envoyer'|trans }}" class="button">
									</div>
								</div>
							</form>
						</div>
						{% else %}
							{% if currentmessage is not empty %}
							<article itemscope itemtype="http://schema.org/Article">
								<header>
									<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
										<img src="{{ avatar.getUrl(currentmessage.author) }}" itemprop="image" class="pull-left" alt="">
										<a href="{{ path('ninja_tooken_user_fiche', {user_nom:currentmessage.author.slug}) }}" rel="author" itemprop="url">
											<span itemprop="name">{{ currentmessage.author.username }}</span>
										</a>
									</span>
									<time itemprop="datePublished" datetime="{{ currentmessage.dateAjout|date("Y-m-d\\TH:i:sP") }}">{{ 'description.datetime'|trans({'%date%': currentmessage.dateAjout|localizeddate('full', 'none', app.request.locale), '%time%': currentmessage.dateAjout|localizeddate('none', 'short', app.request.locale)}, 'common') }}</h3>
								</header>
								<div class="content" itemprop="articleBody">
									{{ currentmessage.content|raw|purify('full') }}
								</div>
							</article>
							<hr>
							<form action="{{ path(app.request.attributes.get('_route'), {'page':page}) }}?id={{ id }}&add=1" method="post" accept-charset="UTF-8" class="full">
								<div class="row-fluid">
									<div class="span3 offset1"><label class="libelle required">{{ 'label.destinataire'|trans }}</label></div>
									<div class="span8">
										<ul id="destinations" class="fake-input clearfix" data-find="{{ path('ninja_tooken_user_find') }}">
											{# l'expéditeur du message #}
											{% if currentmessage.author != app.user %}<li data-value="{{ currentmessage.author.id }}" data-libelle="{{ currentmessage.author.username }}">{{ currentmessage.author.username }}</li>{% endif %}
											{# les destinataires du message #}
											{% for messageuser in currentmessage.receivers %}
											<li data-value="{{ messageuser.destinataire.id }}" data-libelle="{{ messageuser.destinataire.username }}">{{ messageuser.destinataire.username }}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								{{ form_widget(form) }}
								<div class="row-fluid">
									<div class="span8 offset4">
										<input type="submit" value="{{ 'action.repondre'|trans }}" class="button">
									</div>
								</div>
							</form>
							{% else %}
							<h5>{{ 'messagerie.noSelect'|trans }}</h5>
							{% endif %}
						{% endif %}
					</section>
				</div>
{% endblock %}
