{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Guide du débutant{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Mon compte</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_user_parametres') }}" itemprop="url">
									<span itemprop="title">Paramètres</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<form action="{{ path('ninja_tooken_user_parametres_modifier') }}" method="post" accept-charset="UTF-8" class="full">
					<h3><i class="icon-user"></i> Informations personnelles</h3>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="pseudo">Pseudo</label>
						</div>
						<div class="span8">
							<input type="text" name="pseudo" id="pseudo" value="{{ app.user.username }}" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle" for="mail">Mail</label>
						</div>
						<div class="span8">
							{% if true %}<p class="note">Ton adresse mail n’a pas été vérifiée.<br/>
							En cas d’oubli, tu ne pourras pas récupérer ton mot de passe, tu ne seras pas averti lors d’un nouveau message, et tu ne recevras pas de newsletter.</p>{% endif %}
							<input type="email" name="mail" id="mail" value="{{ app.user.email }}" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required">Sexe</label>
						</div>
						<div class="span8">
							<input type="radio" name="sexe" value="H" id="input_sexe_h"{%if app.user.sexe=="H" %} checked{% endif %}><label for="input_sexe_h"> Homme</label>
							<input type="radio" name="sexe" value="F" id="input_sexe_f"{%if app.user.sexe=="F" %} checked{% endif %}><label for="input_sexe_f"> Femme</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required">Langue</label>
						</div>
						<div class="span8">
							<input type="radio" name="langue" value="FR" id="input_langue_fr"{%if app.user.langue=="FR" %} checked{% endif %}><label for="input_langue_fr"> Français</label>
							<input type="radio" name="langue" value="EN" id="input_langue_en"{%if app.user.langue=="EN" %} checked{% endif %}><label for="input_langue_en"> English</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle">Date de naissance</label>
						</div>
						<div class="span8">
							<label class="select">
								<select name="jour">
								{% for i in range(1, 31) %}
									<option value="{{ i }}"{% if i==app.user.dateNaissance|date("d") %} selected{% endif %}>{{ i }}</option>
								{% endfor %}
								</select>
							</label>
							<label class="select">
								<select name="mois">
								{% for i in range(1, 12) %}
									<option value="{{ i }}"{% if i==app.user.dateNaissance|date("m") %} selected{% endif %}>{{ date('2013-' ~ i ~ '-01')|localizeddate(locale=app.request.locale, format='LLLL') }}</option>
								{% endfor %}
								</select>
							</label>
							<label class="select">
								<select name="annee">
								{% for i in range("now"|date_modify("-80 year")|date("Y"), "now"|date_modify("-4 year")|date("Y")) %}
									<option value="{{ i }}"{% if i==app.user.dateNaissance|date("Y") %} selected{% endif %}>{{ i }}</option>
								{% endfor %}
								</select>
							</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle">Description</label>
							(affichée dans la <a href="{{ path('ninja_tooken_user_fiche', {'user_nom':app.user.slug}) }}">fiche ninja</a>)
						</div>
						<div class="span8">
							<div class="textarea" name="description">{{ app.user.description|raw|purify('full') }}</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle">Avatar</label>
						</div>
						<div class="span8">
							<img src="images/avatar.jpg" class="pull-left" alt="">
							<a href="#" class="button small">Modifier</a>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="checkbox" name="news" value="1" id="input_news"{% if app.user.receiveNewsletter %} checked{% endif %}><label for="input_news"> J'accepte de recevoir par mail les news du site</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="checkbox" name="mail" value="1" id="input_mail"{% if app.user.receiveAvertissement %} checked{% endif %}><label for="input_mail"> Je souhaite être averti par mail de l'arrivée de nouveaux messages</label>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="submit" value="Enregistrer" class="button">
						</div>
					</div>
				</form>
				
				<form action="{{ path('ninja_tooken_user_parametres_modifier') }}" method="post" accept-charset="UTF-8" class="full">
					<h3><i class="icon-key"></i> Mot de passe</h3>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="oldPwd">Ancien mot de passe</label>
						</div>
						<div class="span8">
							<input type="password" name="oldPwd" id="oldPwd" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="newPwd">Nouveau mot de passe</label>
						</div>
						<div class="span8">
							<input type="password" name="newPwd" id="newPwd" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3 offset1">
							<label class="libelle required" for="repeatPwd">Répéter</label>
						</div>
						<div class="span8">
							<input type="password" name="repeatPwd" id="repeatPwd" value="" required>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="submit" value="Enregistrer" class="button">
						</div>
					</div>
				</form>

				<form action="{{ path('ninja_tooken_user_parametres_modifier') }}" method="post" accept-charset="UTF-8" class="full">
					<h3><i class="icon-trash"></i> Suppression</h3>
					<div class="row-fluid">
						<div class="span8 offset4">
							<p class="warning">La suppression de compte est définitive, les informations de ton ninja seront définitivement perdues.</p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span8 offset4">
							<input type="submit" value="Supprimer" class="button">
						</div>
					</div>
				</form>
{% endblock %}
