{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Recherche de ninja{% endblock %}
{% block description %}Rechercher un ninja simplement et rapidement !{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, recherche, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_user_search') }}" itemprop="url">
									<span itemprop="title">Chercher</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					<h4>Résultat de la recherche</h4>
					<br class="clear">
					{% if users is not empty %}
						<p>{{ users|length }} utilisateur{% if users|length > 1 %}s{% endif %} trouvé{% if users|length > 1 %}s{% endif %} pour "{{ app.request.get('q') }}".</p>
						{% for user in users %}
						<div class="row-fluid topic">
							<div class="span6">
								<h5><a href="{{ path('ninja_tooken_user_fiche', {user_nom:user.slug}) }}">{{ user.username }}</a></h5>
							</div>
							<div class="span1">
								{% if user.ninja.classe is not empty %}<span class="{{ class[user.ninja.classe]|lower }}">{{ class[user.ninja.classe] }}</span>{% endif %}
							</div>
							<div class="span1">
								{% if user.ninja.grade>0 %}{{ user.ninja.grade }}° dan{% endif %}
							</div>
							<div class="span4">
								 Inscrit depuis le {{ user.createdAt|localizeddate('full', 'none', app.request.locale) }}
							</div>
						</div>
						{% endfor %}
					{% else %}
					Aucun résultat trouvé.
					{% endif %}
					<br class="clear">
					<h4>Faire une autre recherche</h4>
					<form action="{{ path('ninja_tooken_user_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
						<input type="text" name="q" value="Chercher" class="span10">
						<input type="submit" name="s" value="Ok !" class="span2">
					</form>
				</section>
{% endblock %}
