{% if form is defined and form is not empty %}{% form_theme form 'form.html.twig' %}{% endif %}
{% if form_comment is defined and form_comment is not empty %}{% form_theme form_comment 'form.comment.html.twig' %}{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}NinjaTooken{% endblock %}</title>
        <meta name="description" content="{% block description %}NinjaTooken{% endblock %}">
        <meta name="keywords" content="{% block keywords %}NinjaTooken{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ asset('bundles/ninjatookencommon/css/main.css') }}" />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('touch-icon-iphone.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('touch-icon-ipad.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('touch-icon-iphone-retina.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('touch-icon-ipad-retina.png') }}" />
        <meta name="msapplication-TileImage" content="{{ asset('windows8.png') }}"/>
        <meta name="msapplication-TileColor" content="#ff3b00"/>
    </head>
    <body>
        <p class="chromeframe">{{ 'description.navigateur'|trans({}, 'common')|raw }}</p>
        <p class="informationframe">{{ 'description.addBlockeur'|trans({}, 'common')|raw }}</p>

        <div class="top">
            <div class="container">
                <section class="row-fluid">
                    <div class="span3 flagSocial clearfix">
			{% for locale in ['fr', 'en'] %}
			<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}" class="{{ locale }}{% if locale == app.request.locale %} active{% endif %}"></a>
			{% endfor %}
                        <a href="https://www.facebook.com/NinjaTooken" target="_blank" class="facebook"></a>
                        <a href="http://fr.twitch.tv/ninjatooken" target="_blank" class="twitch"></a>
                        <a href="http://www.youtube.com/user/ArbitreNT" target="_blank" class="youtube"></a>
                        <a href="http://society6.com/NinjaTooken/" target="_blank" class="society6"></a>
                    </div>
                    <div class="span3 gameResume visible-desktop">
		    {{ render(controller('NinjaTookenGameBundle:Default:recentGames', {'max': 3})) }}
                    </div>
                    <div class="span6">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{{ render(controller('NinjaTookenUserBundle:Default:connected', {'user': app.user})) }}
			{% else %}
			<p class="account">
                        {{ 'compte.pasEncore'|trans({}, 'common') }} <a href="{{ path('fos_user_registration_register') }}">{{ 'compte.inscrire2'|trans({}, 'common') }}</a> | <a href="{{ path('fos_user_security_login') }}">{{ 'compte.compte'|trans({}, 'common') }}</a>
                        </p>
			{% endif %}
                    </div>
                </section>
            </div>
        </div>

	{% set home = false %}
        {% if app.request.get('_route') == 'ninja_tooken_homepage' %}
		{% set home = true %}
	{% endif %}
        <div class="banniere{% if home %} home{% endif %}">
            <div class="container">
                <header class="row-fluid">
                    <div class="span4">
                        <a href="{{ path('ninja_tooken_homepage') }}" rel="home"><img src="{{ asset('bundles/ninjatookencommon/images/logo.png') }}"></a>
                    </div>
                    <nav class="span8" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                        <a class="visible-phone" id="menuMobile" href="#">{{ 'menu.menu'|trans({}, 'menu') }}</a>
                        <ul class="hidden-phone menu">
                            <li class="hidden-phone">
                                <a href="{{ path('ninja_tooken_jouer') }}" class="play">{{ 'menu.jouer'|trans({}, 'menu') }}</a>
                            </li>
                            <li>
                                <a>{{ 'menu.jeu'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_game_classement') }}">{{ 'menu.classement'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_game_parties') }}">{{ 'menu.partie'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_event') }}">{{ 'menu.evenement'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>{{ 'menu.manuel'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_manuel') }}">{{ 'menu.guide'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_game_calculateur') }}">{{ 'menu.calculateur'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_reglement') }}">{{ 'menu.regle'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>{{ 'menu.communaute'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_forum') }}">{{ 'menu.forum'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_clans') }}">{{ 'menu.clan'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_chat') }}">{{ 'menu.chat'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>{{ 'menu.faq'|trans({}, 'menu') }}</a>
                                <ul>
                                    <li><a href="{{ path('ninja_tooken_faq_generale') }}">{{ 'menu.generale'|trans({}, 'menu') }}</a></li>
                                    <li><a href="{{ path('ninja_tooken_faq_technique') }}">{{ 'menu.technique'|trans({}, 'menu') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </header>
		{% if home %}
                <div class="row-fluid">
                    <div class="span4 presentation">
                        <h1>{{ 'entete.ninja'|trans({}, 'common') }}</h1>
                        <p>{{ 'description.ninja'|trans({}, 'common')|raw }}</p>
                        <a href="{{ path('fos_user_registration_register') }}" class="create"><img src="{{ asset('bundles/ninjatookencommon/images/create.png') }}"> {{ 'compte.inscrire'|trans({}, 'common') }}</a>
                    </div>
                    <div class="span8 visible-desktop">
                        <div id="diaporama" class="diaporama">
                            <ul class="bjqs">
                                <li><iframe src="http://player.vimeo.com/video/24436995?title=0&byline=0&portrait=0&color=ff9933" width="100%" height="100%" frameborder="0"></iframe></li>
                                <li><img src="{{ asset('bundles/ninjatookencommon/images/slider/Shigaru.jpg') }}" title="Shigaru - La paix dans un monde de fou."></li>
                                <li><img src="{{ asset('bundles/ninjatookencommon/images/slider/Mangafan.jpg') }}" title="Mangafan - des screenshots vieux, pris à l'arrache ^^"></li>
                                <li><img src="{{ asset('bundles/ninjatookencommon/images/slider/Rydax.jpg') }}" title="Rydax - Map caverne, jeu de lumière"></li>
                                <li><img src="{{ asset('bundles/ninjatookencommon/images/slider/Titi-Kun.jpg') }}" title="Titi-Kun - Un bon petit moment passée à faire ses captures sur la map "Arène""></li>
                                <li><img src="{{ asset('bundles/ninjatookencommon/images/slider/Narozo.jpg') }}" title="Narozo - Le duel De kusanagi."></li>
                                <li><img src="{{ asset('bundles/ninjatookencommon/images/slider/JusTicE.jpg') }}" title="JusTicE - Vise le haut !"></li>
                                <li><img src="{{ asset('bundles/ninjatookencommon/images/slider/Yamiko.jpg') }}" title="Yamiko"></li>
                            </ul>
                        </div>
                    </div>
                </div>
		{% endif %}
            </div>
        </div>

        <div class="breadcrumb">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <h2>{% block breadcrumbs1 %}{% endblock %}</h2>
                        <h1>{% block breadcrumbs2 %}
                            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="{{ path('ninja_tooken_homepage') }}" itemprop="url">
                                    <span itemprop="title">{{ 'entete.news'|trans({}, 'common') }}</span>
                                </a>
                            </span>
                        {% endblock %}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="ninjas" data-limit-y="120">
            <div class="layer ninja4" data-depth="0.83"></div>
            <div class="layer ninja5" data-depth="0.78"></div>
            <div class="layer ninja3" data-depth="0.55"></div>
            <div class="layer ninja2" data-depth="0.50"></div>
            <div class="layer ninja1" data-depth="0.30"></div>
        </div>

        <div class="content">
            <div class="container">
                <div class="pub">
                        <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-3085034269626140";
                        /* Top Ban */
                        google_ad_slot = "7441735399";
                        google_ad_width = 728;
                        google_ad_height = 90;
                        //--></script>
                        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                </div>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                    {{ flashMessage }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>

        <div class="footer">
            <footer class="container">
                <ul>
                    <li><a href="{{ path('ninja_tooken_team') }}">{{ 'menu.team'|trans({}, 'menu') }}</a></li>
                    <li><a href="{{ path('ninja_tooken_reglement') }}">{{ 'menu.reglement'|trans({}, 'menu') }}</a></li>
                    <li><a href="{{ path('ninja_tooken_mentions_legales') }}">{{ 'menu.mention'|trans({}, 'menu') }}</a></li>
                    <li><a href="{{ path('ninja_tooken_contact') }}">{{ 'menu.contact'|trans({}, 'menu') }}</a></li>
                </ul>
            </footer>
        </div>

	<div class="popup-bg">
		<div class="popup">
			<p>{{ 'popup.delete'|trans({}, 'common') }}<br><br><a href="confirm" class="button"><i class="icon-ok"></i> {{ 'popup.confirm'|trans({}, 'common') }}</a> <a href="cancel" class="button cancel"><i class="icon-remove"></i> {{ 'popup.cancel'|trans({}, 'common') }}</a></p>
		</div>
	</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/ninjatookencommon/js/vendor/jquery-2.0.0.min.js') }}"><\/script>')</script>
	<script src="{{ asset('bundles/ninjatookencommon/js/vendor/tinymce/jquery.tinymce.min.js') }}"></script>
	<script src="{{ asset('bundles/ninjatookencommon/js/vendor/tinymce/tinymce.min.js') }}"></script>
	<script src="{{ asset('bundles/ninjatookencommon/js/vendor/adblock_detector.js') }}"></script>
	{% javascripts
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/bjqs-1.3.min.js'
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/UnityObject2.js'
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/jquery.tagit.js'
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/Chart.min.js'
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/jquery.bracket.min.js'
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/storyjs-embed.js'
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/jquery.motionCaptcha.0.2.js'
		'@NinjaTookenCommonBundle/Resources/public/js/vendor/jquery.parallax.js'
		'@NinjaTookenCommonBundle/Resources/public/js/src/class.js'
		'@NinjaTookenCommonBundle/Resources/public/js/src/class.calculateur.js'
		'@NinjaTookenCommonBundle/Resources/public/js/src/class.aptitude.js'
		'@NinjaTookenCommonBundle/Resources/public/js/src/class.jutsu.js'
		'@NinjaTookenCommonBundle/Resources/public/js/main.js'
		output='js/compiled/main.js' combine=true
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
        <script>
            var _gaq=[['_setAccount','UA-2980301-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>