{% spaceless %}
{% if lastPage > 1 %}
{% set begin = currentPage - nearbyPagesLimit %}
{% set decalage = 0 %}
{% if begin < 1 %}
	{% set decalage = begin|abs + 1 %}
	{% set begin = 1 %}
{% endif %}
{% set end = currentPage + decalage + nearbyPagesLimit %}
{% if end > lastPage %}
	{% set begin = currentPage - ( end - lastPage ) - nearbyPagesLimit %}
	{% set end = lastPage %}
	{% if begin < 1 %}
		{% set begin = 1 %}
	{% endif %}
{% endif %}
<div class="pagination">
	<ul>
		{% if begin > 1 %}
			{% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit and i!=begin ) %}
		<li><a href="{{ paginationPath }}{{ i }}{{ paginationAfter }}">{{ i }}</a></li>
			{% endfor %}
			{% if extremePagesLimit + 1 < begin %}
		<li class="disabled"><a href="#">...</a></li>
			{% endif %}
		{% endif %}

		{% for i in range(begin, end) %}
		<li{% if i == currentPage %} class="active"{% endif %}><a href="{{ paginationPath }}{{ i }}{{ paginationAfter }}">{{ i }}</a></li>
		{% endfor %}

		{% if end < lastPage %}
			{% if  lastPage - extremePagesLimit > end %}
		<li class="disabled"><a href="#">...</a></li>
			{% endif %}
			{% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit and i!=end ) %}
		<li><a href="{{ paginationPath }}{{ i }}{{ paginationAfter }}">{{ i }}</a></li>
			{% endfor %}
		{% endif %}
	</ul>
</div>
{% endif %}
{% endspaceless %}