{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - FAQ Technique{% endblock %}
{% block description %}Les réponses aux problèmes techniques les plus fréquents. Connexion à problème, chargement, lagues, mémoire, performances...{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, réponse, faq, technique, problème, question, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">F.A.Q.</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_faq_technique') }}" itemprop="url">
									<span itemprop="title">Problèmes techniques</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span8 main">
                        {% set urlParametre = path('ninja_tooken_user_parametres') %}
                        {% set oldForum = path('ninja_tooken_forum_old') %}
                        {% set urlManuel = path('ninja_tooken_manuel') %}
                        {% set urlContact = path('ninja_tooken_contact') %}
                        {% for i in 7..14 %}
                            <h3 id="q{{ i }}">{{ ('faq.question' ~ i)|trans }}</h3>
                            <p>{{ ('faq.reponse' ~ i)|trans({'%urlParametre%': urlParametre, '%oldForum%': oldForum, '%urlContact%': urlContact, '%urlManuel%': urlManuel})|raw }}</p>
                        {% endfor %}
					</section>
					<aside class="span4">
						<section>
							<ul>
                            {% for i in 7..14 %}
								<li><a href="#q{{ i }}">{{ ('faq.question' ~ i)|trans }}</a></li>
                            {% endfor %}
							</ul>
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
