{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken{% endblock %}
{% block description %}{{ 'description.meta.index'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.meta.index'|trans }}{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_homepage') }}" itemprop="url">
									<span itemprop="title">{{ 'entete.news'|trans({}, 'common') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span8">
						<div class="row-fluid">
						{% for thread in threads %}
							<div class="span6">
								<article class="news{% if thread.isEvent %} event{% endif %}" itemscope itemtype="http://schema.org/Article">
									<header>
										<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
											<img src="{{ avatar.getUrl(thread.author) }}" itemprop="image" class="pull-left" alt="">
											<a href="{{ path('ninja_tooken_user_fiche', {user_nom:thread.author.usernamecanonical}) }}" rel="author" itemprop="url">
												<span itemprop="name">{{ thread.author.username }}</span>
											</a>
										</span>
										<time itemprop="datePublished" datetime="{{ thread.dateAjout|date("Y-m-d\\TH:i:sP") }}">{{ 'description.datetime'|trans({'%date%': thread.dateAjout|localizeddate('full', 'none', app.request.locale), '%time%': thread.dateAjout|localizeddate('none', 'short', app.request.locale)}, 'common') }}</time><br>
										<h3 itemprop="headline">{{ thread.nom }}</h3>
									</header>
									<div class="content" itemprop="articleBody">
										<p>{{ thread.body|raw|purify('medium') }}</p>
									</div>
									<footer>
										<a href="{{ path('ninja_tooken_thread', {forum_nom: thread.forum.slug, thread_nom:thread.slug}) }}" itemprop="discussionUrl" class="pull-right">{{ 'description.suite'|trans({}, 'common') }} &raquo;</a>
									</footer>
								</article>
							</div>
						{% if loop.index is divisibleby(2) and not loop.last %}
						</div>
						<div class="row-fluid">
						{% endif %}
						{% endfor %}
						</div>
					</section>
					<aside class="span4">
						<form action="{{ path('ninja_tooken_forum_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="{{ 'action.chercher'|trans({}, 'common') }}" class="span10">
							<input type="submit" name="s" value="{{ 'action.ok'|trans({}, 'common') }}" class="span2">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': 0, 'user': 0})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
