{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Guide du débutant{% endblock %}
{% block description %}Le manuel du ninja est à consulter régulièrement pour survivre dans le monde sans pitié des shinobis !{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, manuel, guide, cheats, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Manuel du ninja</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_manuel') }}" itemprop="url">
									<span itemprop="title">Guide du débutant</span>
								</a>
							</span>
{% endblock %}

{% block body %}				<div class="row-fluid">
					<section class="span8 main">
						<h2>Pour commencer...</h2>

						<h3 id="description-generale">Description Générale</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/fresque.jpg') }}" alt=""><br>
						Ninja Tooken te transporte dans un univers très japonisant où les ninjas sont sans pitié. Le but du jeu ? Tous les killer !<br><br>
						Pour commencer, <a href="{{ path('fos_user_registration_register') }}">créé ton compte</a>. Puis, choisis la classe de ton ninja : Katon (le feu), Suiton (l'eau), Futon (le vent), Doton (la terre), Raiton (la foudre).<br>
						Ensuite, le principe est simple : plus tu killes, plus tu gagnes des points d'expérience.<br>
						Ces points te permettront de faire évoluer ton ninja selon ta classe.<br><br>
						Mais attention chaque élément a son ennemi juré. Par exemple, si tu appartiens à Katon, méfie-toi surtout de Suiton.</p>

						<h3 id="commande-jeu">Commandes de Jeu</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/ninjatooken1.jpg') }}" class="pull-right" alt=""/>
						Pour commencer à jouer à Ninja Tooken, rien de très compliqué !<br><br>
						Comme la majorité des FPS (jeu de tir en vue à la première personne), les touches à utiliser pour les déplacements sont : "Z,Q,S,D".<br><br>
						A ces touches s'ajoutent la barre espace pour sauter, les touches "1,2,3,4..." pour sélectionner les armes, et les touches "A,E,R,F,T..." pour les jutsus.<br>
						C'est très pratique, car comme par hasard, elles sont toutes regroupés au même endroit, mais tu peux également changer d'armes/jutsus avec la roulette de la souris.<br><br>
						Evidemment si cette configuration de touche ne te plait pas, ou si tu as un clavier qwerty, tu peux la personnaliser dans les <a href="#parametrage-touche" title="Paramétrage des touches">options du jeu</a>.
						Tu pourras également y changer la sensibilité de ta souris.<br><br>Bien foutu, non?</p>

						<h3 id="partie-solo">Partie Solo</h3>
						<p>Deux types de missions sont disponibles dans la partie Solo de Ninja Tooken : Course et Assassinat.<br>
						Réaliser ces missions te permettrons de mieux contrôler ton ninja durant tes phases de déplacement, et d'attaque, tout en gagnant de l'expérience !<br>
						Pour réaliser ces missions, lance une partie solo puis, une fois près des indicateurs, appuis sur la "touche de chat" ("Entrée" par défaut).<br>
						Chaque mission peut être répétée autant de fois que tu le souhaites.</p>
						<h4>Course</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/course.jpg') }}" alt="course"><br>Tu devras pour réaliser cette mission, ramasser des pièces d'or dans un temps limité.<br>
						Le nombre de points d'expérience gagnés dépend du nombre de pièces à ramasser et du temps restant.</p>
						
						<h4>Assassinat</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/assassinat.jpg') }}" alt="assassinat"/><br>Un contrat a été posé sur un ninja ! Pour réussir cette mission, tu devras le killer. Si ta cible ou un autre ninja t'élimine, ou que tu as dépassé le temps imparti, ta mission est ratée.<br>
						Tu l'auras compris, il va falloir faire preuve d'un véritable instinct de ninja pour réussir !</p>
						<p>Pour chacune de ces missions, tu auras un indicateur de position te permettant de connaitre l'emplacement de la pièce la plus proche à ramasser, ou du ninja à assassiner, ainsi qu'en haut à gauche une fenêtre contenant le type de mission actuellement jouée, un chronomètre, et des informations sépcifiques.</p>

						<h3 id="partie-reseau">Partie Réseau</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/reseau.jpg') }}" alt="parties réseaux" class="pull-right">
						Cinq types de parties sont disponibles à la création d'une partie en réseau.</p>
						<h4>Partie standard</h4>
						<p>Pas de temps, pas d'équipe, pas de drapeau : du combat, tout simplement !<br>
						Chaque joueur connecté va devoir lutter pour sa survie avec ses propres moyens, sans aide et sans limite de temps.</p>
						<h4>Partie en équipe</h4>
						<p>Pour cette partie, deux équipes (une rouge et une bleue) se livrent une lutte sans merci ! Chaque nouveau joueur qui se connecte rejoint l'équipe la moins nombreuse.<br>
						Il n'est pas possible de tuer un allié.</p>
						<h4>Partie chronométrée</h4>
						<p>Tu as 10 minutes pour t'imposer, passé ce délai, les compteurs sont remis à zéros et une nouvelle partie commence ! Ici pas d'équipe, que des ennemis !</p>
						<h4>Capture de sashimono</h4>
						<p>Sur le terrain de jeu deux sashimonos (drapeaux) sont placés sur deux emplacements propres à chaque carte. L'objectif est de ramener le drapeau du camp adverse dans le sien.<br>
						Le première des deux équipes qui arrive à capturer un certain nombre de fois le drapeau adverse gagne.</p>
						<h4>Parchemin</h4>
						<p>Le but du mode est de capturer un parchemin qui est un objet unique présent sur la map (et placé aléatoirement), puis de survivre pendant un certain temps sur un emplacement défini afin de gagner un max' d'expérience !!<br>
						Ce mode se veut donc un mixe des modes "hunter" (non disponible dans NinjaTooken) et "capture de sashimono" tout en gardant des effets spécifiques à Ninja Tooken.</p>

						<hr>

						<h2>Mon Ninja</h2>

						<h3 id="vie-chakra">Vie et Chakra</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/infosPerso.jpg') }}" alt="interface" class="pull-right">
						La vie et le chakra sont deux éléments très importants pour ton ninja : si tu n'as plus de points de vie la fin est proche, et si tu n'as plus de chakra tu ne pourras plus utiliser de jutsus.<br>
						Ces deux jauges peuvent être augmentées via les point d'aptitudes que tu leur accorderas.<br>
						Tu peux aussi regagner de la vie ou du chakra via les bonus disséminés dans la carte. Le bonus "bol de ramen" redonne de la vie, et le "Ying Yang" redonne du chakra.<br>
						Le chakra à en plus la particularité de se régénérer à raison de cinq points par seconde.</p>

						<h3 id="experience">Expérience</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/experience.jpg') }}" alt="un niveau en plus" class="pull-right">
						L'expérience peut être gagnée de différentes façons.<br>
						En <a href="#partie-solo" title="Partie solo">mode Solo</a>, tu gagnes de l'expérience lorsque tu kill un ninja, mais tu peux aussi en gagner en effectuant les missions disponibles.<br>
						En mode réseau, l'expérience provient uniquement des kills que tu effectues. Plus le niveau du ninja que tu viens d'abattre est grand, et plus tu gagneras d'expérience. Il faut savoir prendre des risques, et partir défier les meilleurs ninjas.<br>
						Une fois gagnée, cette expérience va te permettre de passer des niveaux, chacun te faisant gagner des points d'aptitudes et de jutsus.<br>
						<br>
						Tu trouveras dans le <a href="#partie-solo" title="guide du débutant">"Pour commencer"</a> toutes les informations concernant les différentes façons de gagner de l'expérience dans Ninja Tooken !</p>
						<h4>Dans</h4>
						<p>Une fois arrivée au niveau 100, tu auras la possibilité depuis le menu « mon ninja » de passer un dan (ou grade). En passant un dan, ton niveau est recalculé sur la base des points d’expérience excédents le palier du niveau 100, soit : XP final = XP total – 5194303*dan<br>
						Ainsi, tu as la possibilité de « recommencer » le jeu aux premiers niveaux tout en gardant ton ninja.<br>
						<br>
						Il existe actuellement 15 dans.</p>

						<h3 id="aptitude">Aptitudes</h3>
						<p>Les aptitudes sont la base de ton ninja. A chaque niveau, tu gagneras deux points à répartir selon tes envies et la voie que tu veux faire prendre à ton ninja. Tu veux qu'il soit plus fort ? Plus rapide ? Plus tenace ? A toi d'en décider !</p>
						<img src="{{ asset('bundles/ninjatookencommon/images/guide/skecthfuton.jpg') }}" class="pull-right" alt="">
						<h4>Force</h4>
						<p>La force agit sur deux aspects de ton ninja : plus tu auras de force, plus les armes de ton ninja infligeront de dégâts (attention, uniquement les armes, et non les jutsus !).<br>
						Mais l'aptitude force n'améliore pas que les dégâts, elle permet aussi à ton ninja de lancer les kunaïs, shurikens, et autres armes de distance, plus loin.</p>
						<h4>Vitesse</h4>
						<p>La vitesse permet tout simplement à ton ninja de courir plus vite. N'oublies pas qu'un bon ninja est un ninja furtif, et donc rapide pour attaquer, comme pour battre en retraite.</p>
						<h4>Vie</h4>
						<p>La vie est directement proportionnelle à ta jauge de vie. En y attribuant des points, tu augmenteras ton maximum de points de vie.</p>
						<h4>Chakra</h4>
						<p>Le chakra est identique à l'aptitude vie, mais appliquée au chakra. Plus tu y mets de points, plus ta jauge de chakra sera grande.</p>

						<h3 id="jutsu">Jutsus</h3>
						<p>Avec les jutsus, on passe aux choses sérieuses !<br>
						Un point te sera attribué à chaque nouveau niveau que tu passeras. Une fois ce point acquis, tu pourras le placer dans le jutsu que tu souhaites développer, ou dans celui que tu veux apprendre.<br>
						Contrairement aux aptitudes, tu ne disposeras pas de tous les jutsus dès le début de ton aventure. Ils se débloqueront au fur et à mesure de ta progression et en fonction de ta classe. Mais ne t'inquiètes pas, les points que tu as placé dans un jutsu ne le sont pas définitivement. Tu peux à tout moment les enlever d'un jutsu pour mieux en développer un autre.</p>
						<h4>Types de jutsus</h4>
						<p>Les jutsus se répartissent en plusieurs catégories. Il en existe des passifs (actifs tout le temps), des actifs (activable "manuellement"), des jutsus d'attaques, des jutsus de défense, et même des jutsus de déplacement. Tu peux vraiment spécialiser ton ninja comme tu le souhaites, et ainsi pousser ta stratégie au maximum.</p>
						<h4>Jutsus généraux</h4>
						<p>La plupart des jutsus sont communs aux cinq classes (Katon, Futon, Raiton, Doton, Suiton), d'autres sont spécifiques à certaines classes, nous les verrons plus tard. Voyons maintenant ces jutsus généraux.</p>
						<h4>Protection nouveau joueur</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/protection.png') }}" alt="protection" class="pull-left">
						Ce jutsu passif et qui ne consomme pas de chakra est offert à tout joueur ayant un niveau inférieur à 30. Il limite à 20 points les dégâts reçus par un ninja d'un niveau 60 ou plus.<br>
						Pas d'amélioration possible ! Ce jutsu disparait au niveau 31.</p>
						<h4>Boule de chakra</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/boule.png') }}" alt="boule de chakra" class="pull-left">
						Ce jutsu d'attaque est très simple, il permet d'attaquer à distance en envoyant une boule de chakra. Cette boule n'est pas affectée par la gravité, et donc peut être envoyée à longue distance tout en restant très précise. <br>
						Amélioration en fonction des points de chakra affectés : Plus puissante, plus grosse, et plus rapide mais consomme plus de chakra.</p>
						<h4>Double saut</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/saut.png') }}" alt="double saut" class="pull-left">
						Comme son nom l'indique, le double saut permet d'effectuer un deuxième saut à la suite du premier pour atteindre des zones hautes. Le double saut étant un jutsu passif, il n'est pas nécessaire de l'activer; Le double saut ne consomme pas de chakra<br>
						Amélioration en fonction des points de chakra affectés : Le premier et le deuxième saut sont plus grands.</p>
						<h4>Bouclier</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/bouclier.png') }}" alt="bouclier" class="pull-left">
						Le bouclier permet de réduire les dommage subis. Attention, ce jutsus n'est pas passif, il faut l'activer, et il n'est actif que pendant une durée déterminée. <br>
						Amélioration en fonction des points de chakra affectés : Le bouclier réduit encore plus les dommages et dure encore plus longtemps mais consomme plus de chakra.</p>
						<h4>Marcher sur les murs</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/mur.png') }}" alt="marcher sur les murs" class="pull-left">
						Ce jutsu actif permet de marcher sur des pentes très raide et des surface verticales pendant un certain laps de temps. Il se déclenche en appuyant par défaut sur la touche "Contrôle". A chaque déclenchement, il consomme du chakra, mais n'ai crainte, ce jutsu très utile n'en consomme que très peu.<br>
						Amélioration en fonction des points de chakra affectés : Le temps pour marcher à la verticale ainsi que le coût en chakra augmente.</p>
						<h4>Acier renforcé</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/acierRenforce.png') }}" alt="acier renforcé" class="pull-left">
						Cette technique longtemps gardée secrète, a la particularité d'instiller du chakra dans ses armes blanches, afin d'augmenter de manière significative le tranchant de l'acier. Epée, kunaï, shuriken, shuriken de l'ombre, et clous de ninja deviennent alors encore plus redoutables, leurs dégâts étant littéralement multipliés à l'activation de ce jutsu.<br>
						Pour garder son attention à son maximum, le viseur se noirci durant le temps d'effet d'acier renforcé. Par contre les ennemis seront également avertis du danger par la présence d'un dragon tournoyant autour du ninja.<br>
						Amélioration en fonction des points de chakra affectés : Dure plus longtemps et inflige plus de dégâts mais consomme plus de chakra.</p>
						<h4>Déflagration</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/deflagration.png') }}" alt="déflagration" class="pull-left">
						La déflagration est un jutsu à la fois défensif et hostile. En plus d’infliger des dégâts importants aux ennemis se trouvant dans l’air d’effet, elle les repousse, annule les armes de jets, et ralenti les boules d’énergie. Mais si tu comptes l'utiliser, il te faux prévoir une bonne dose de chakra... car si la déflagration est très puissante, elle consomme également énormément de chakra.<br>
						Amélioration en fonction des points de chakra affectés : Les dégâts, la portée et la consommation de chakra augmentent.</p>
						<h4>Chakra de vie</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/chakraVie.png') }}" alt="chakra de vie" class="pull-left">
						Le chakra de vie permet une fois activé d'utiliser sa jauge de chakra pour absorber les dégâts qu'on t'infligera. Il permet donc d'étendre sa jauge de vie sur la jauge de chakra, mais pas de régénérer sa jauge de vie.<br>
						Une fois lancé, un son de battement de coeur signalera, ainsi qu'à vos adversaires, de sa présence. Les adversaires verront en plus une « aura de chakra » se dégager de votre corps.<br>
						Ce jutsu peut être désactivé à volonté. Il se désactive de toute façon automatiquement lorsque la jauge de chakra est vide.<br>
						Amélioration en fonction des points de chakra affectés : Dure plus longtemps mais consomme plus de chakra.</p>
						<h4>Kusanagi</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/kusanagi.png') }}" alt="Kusanagi" class="pull-left">
						Cette épée légendaire, pendant japonais d’Excalibur, est l'aboutissement des techniques de combat les plus évoluées, alliées à la plus grande maitrise spirituelle qui soit. À chaque activation de cette puissante relique, une onde de chakra comprimée sera projetée à très grande vitesse devant toi. Le résultat en est une très fine et arquée vague d'énergie totalement inarrêtable. Si un ennemi est touché par ce tranchant hors du commun, il sera repoussé par la puissance dévastatrice de l'attaque.<br>
						Amélioration en fonction des points de chakra affectés : Se propage plus loin (et donc devient plus grande), et inflige plus de dégâts mais consomme plus de chakra.<br>
						<br>
						<br>
						Voyons maintenant les jutsus spécifiques à chaque classe...</p>
						<h3 id="jutsuClasse">Jutsus par classes</h3>
						<p>Chacune des <a href="#classes">cinq classes</a> possède deux jutsus spéciaux.</p>
						<h4>Katon, le feu</h4>
						<h5>Protection contre le feu</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/resistance.png') }}" alt="Protection contre le feu" class="pull-left">
						Cette protection permet de diminuer les dégâts des boules de chakra, des déflagrations, du Phoenix, et des explosifs (tonneau, ou kunaï explosif). Ce jutsu ne consomme pas de chakra.<br>
						Amélioration en fonction des points de chakra affectés : La protection augmente.</p>
						<h5>Phoenix</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/phoenix.png') }}" alt="phoenix" class="pull-left">
						Cette attaque permet à ton ninja d'envoyer l'esprit du feu sur une zone du terrain ciblée. Une fois l'esprit arrivé à destination, une énorme explosion s'ensuit brulant gravement les ennemis pris dans la fureur élémentale.<br>
						Amélioration en fonction des points de chakra affectés : Les dégâts, la distance cible, et le rayon finale d'action augmentent (ainsi que le cout en chakra).<br>
						<strong>Pour utiliser ce jutsu, il te faut rentrer dans une rage meurtrière. Cette rage se produit après avoir perdu 50% de ton total de vie !</strong></p>
						<h4>Suiton, l'eau</h4>
						<h5>Marcher sur l'eau</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/marcher.png') }}" alt="marcher sur l'eau" class="pull-left">
						Ce jutsu permet de marcher sur l'eau, et d’augmenter sa vitesse de déplacement sur et sous cet élément. Marcher sur l'eau est un jutsu actif qui ne consomme pas de chakra.<br>
						Amélioration en fonction des points de chakra affectés : Augmente la durée de l'effet, et la vitesse de déplacement.</p>
						<h5>Vague</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/vague.png') }}" alt="vague" class="pull-left">
						Invoque la puissance dévastatrice des esprits aqueux à partir d'une zone ciblée du terrain. Une fois invoquée, la vague suit le terrain sur une trajectoire rectiligne et inflige d'importants dégâts à tous les ennemis touchés.<br>
						Amélioration en fonction des points de chakra affectés : Augmente la durée du déplacement, la distance ciblée, les dégâts infligés et le coût en chakra.<br>
						<strong>Pour utiliser ce jutsu, il te faut rentrer dans une rage meurtrière. Cette rage se produit après avoir perdu 50% de ton total de vie !</strong></p>
						<h4>Futon, l'air</h4>
						<h5>Transparence</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/transparence.png') }}" alt="transparence" class="pull-left">
						Ce jutsu rend ton ninja translucide, et ne consomme pas de chakra !<br>
						Amélioration en fonction des points de chakra affectés : Le ninja devient de moins en moins visible. La distance nécessaire pour être visé avec le shuriken de l'ombre diminue d'autant !</p>
						<h5>Tornade</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/tornade.png') }}" alt="tornade" class="pull-left">
						Déclenche la puissance versatile du vent durant un temps limitée. A partir de ton ninja et vers une zone ciblée du terrain, la tornade se déplace en spirale et inflige d'importants dégâts à tous les ennemis touchés.<br>
						Amélioration en fonction des points de chakra affectés : Augmente la distance ciblée, le temps d'invocation, les dégâts infligés et le coût en chakra.<br>
						<strong>Pour utiliser ce jutsu, il te faut rentrer dans une rage meurtrière. Cette rage se produit après avoir perdu 50% de ton total de vie !</strong></p>
						<h4>Doton, la terre</h4>
						<h5>Métamorphose</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/rock.png') }}" alt="métamorphose" class="pull-left">
						Ce jutsu de spécialité doton permet à ton ninja de se transformer en rocher pendant une certaine durée. Lorsque ton ninja est sous la forme d’un rocher, il regagnera de la vie. Pour se cacher et attaquer en fourbe, il n'y a pas mieux ! La métamorphose est un jutsu actif, qui s'annule dès que tu te déplaces.<br>
						Amélioration en fonction des points de chakra affectés : La transformation dure plus longtemps, et fait gagner plus de vie.</p>
						<h5>Pieux</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/pieux.png') }}" alt="pics de roche" class="pull-left">
						Invoque la puissance de la terre, à partir d'une zone ciblée du terrain. Une fois invoqué, de nombreux pieux surgissent de la terre et viennent empaler les ennemis leur infligeant d'importants dégâts.<br>
						Amélioration en fonction des points de chakra affectés : Augmente la distance ciblée, le nombre de pieux, les dégâts infligés et le coût en chakra.<br>
						<strong>Pour utiliser ce jutsu, il te faut rentrer dans une rage meurtrière. Cette rage se produit après avoir perdu 50% de ton total de vie !</strong></p>
						<h4>Raiton, la foudre</h4>
						<h5>Tirs multiples</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/multi.png') }}" alt="multishoot" class="pull-left">
						Le multishoot est un jutsu permettant d'augmenter la cadence de tir de ton ninja. Il fonctionne pour toutes les <a href="#arme" title="armes">attaques physiques</a> (hormis le katana).<br>
						Amélioration en fonction des points de chakra affectés : La cadence de tir augmente de plus en plus (l'intervalle entre les attaques est malgré tout limitée à 150ms au minimum !).</p>
						<h5>Téléportation</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/teleportation.png') }}" alt="téléportation" class="pull-left">
						Appel les pouvoirs de célérité de la foudre du ninja vers une zone ciblée. Une fois invoquée, les élémentaires de la foudre transporte le ninja vers une zone ciblée à une vitesse hallucinante en échange d'un don de vie.<br>
						Amélioration en fonction des points de chakra affectés : La distance de téléportation et le cout en chakra augmentent avec le nombre de points de vie exigés.</p>

						<h3 id="arme">Armes</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/ninjamec.jpg') }}" class="pull-right" alt="">
						Les armes dans Ninja Tooken sont aussi importantes que les jutsus, ne les délaisse pas !<br><br>
						Les dégâts infligés par les armes dépendant du type d'arme utilisé, et de la <a href="#aptitude" title="Aptitudes">force</a> de ton ninja (excepté pour le kunaï explosif et le fumigène).</p>
						<h4>Katana</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/katana.png') }}" alt="katana" class="pull-left">
						Le katana est l'unique arme de corps à corps. Etant plus difficile à utiliser dans les combats ninjas qui se déroulent la plupart du temps à distance, elle inflige des dégâts très importants ! Si tu as l'occasion de te rapprocher discrètement d'un autre ninja, un coup de katana sera l'idéal pour en finir rapidement...</p>
						<h4>Kunaï</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/kunai.png') }}" alt="kunaï" class="pull-left">
						Le kunaï est une des armes de base du ninja. Tu en as un bon paquet en reserve, alors utilises-les ! Si tu n'en as plus, tu peux toujours en reprendre avec les caisses d'armes disséminées un peu partout dans chaque carte. Le lancer de kunaï n'est pas droit, car la gravité vient se mêler au combat... Pour avoir des lancés plus droits, et ainsi atteindre des cibles plus éloignés de façons plus précise, il te faut augmenter la force de ton ninja.</p>
						<h4>Kunaï explosif</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/explo.png') }}" alt="Kunaï explosif" class="pull-left">
						Le kunaï explosif s'utilise de la même manière que le kunaï normal, sauf qu'il explose au bout d'un temps assez court, ou au contact de la cible. Ne reste pas à coté ! Tu peux te recharger en kunaïs explosifs grâce aux caisses bonus qui en contiennent.</p>
						<h4>Shuriken</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/shuriken.png') }}" alt="Shuriken" class="pull-left">
						Le shuriken est aussi une arme de base du ninja. Qui a déjà vu un vrai ninja sans shuriken ? Comme le kunaï et les armes de distance, le shuriken subit la gravité et donc ne peux pas atteindre des cibles trop éloignées. Le kunaï est même meilleur que le shuriken sur ce point là, car le shuriken a une plus petit portée. Cependant tu peux lancer plus de shuriken dans un même temps, mais il inflige moins de dégâts. A toi de voir lequel tu préfères ! Comme les kunaïs, explosifs ou non, tu peux récupérer des shurikens dans les caisses bonus adéquates.</p>
						<h4>Shuriken de l'ombre</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/ombre.png') }}" alt="Shuriken de l'ombre" class="pull-left">Le shuriken de l'ombre est un énorme shuriken qui ne rate presque jamais sa cible ! Cette arme aussi puissante que l'épée mais à distance, ne se trouve cependant qu'en quantité très limitée. Utilise-le au bon moment !</p>
						<h4>Fumigène</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/fumigene.png') }}" alt="Fumigene" class="pull-left">Le fumigène n'est pas réellement une arme puisqu'il n'inflige aucun dégât. Il te permet de t'enfuire d'un combat mal engagé, ou de te faire gagner un peu de répits en dégageant une grosse quantité de fumée devant toi pendant quelques secondes. A toi de profiter au mieux de cette arme "tactique".</p>
						<h4>Makibishi</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/makibishi.png') }}" alt="Makibishi" class="pull-left">Les makibishi sont un assemblage de 4 clous. Envoyés par poignées de six, ils permettent de piéger la zone où ils retombent. En courant après un adversaire ayant lancé des makibishi, on risque de se les planter dans les pieds et donc de réduire sa vitesse de moitié pendant quelques secondes. Les makibishi restent sur la carte tant que personne n'a marché dessus (ou que le piégeur ne s'est pas déconnecté).</p>

						<h3 id="classes">Classes</h3>
						<p>
						Comme tu le sais certainement si tu as déjà commencer à jouer, le début de l'aventure dans Ninja Tooken commence par le choix de sa classe. Ce choix permet de se spécialiser dans un élément en débloquant des <a href="#jutsuClasse" title="jutsus par classe">jutsus spécifiques</a>.</p>
						<span>Parmi ces cinqs classes tu retrouveras :</span>
						<ul>
							<li><span class="suiton">Suiton (l'eau avec comme ennemi Doton),</span></li>
							<li><span class="katon">Katon (le feu avec comme ennemi Suiton),</span></li>
							<li><span class="futon">Futon (le vent avec comme ennemi Katon),</span></li>
							<li><span class="raiton">Raiton (la foudre avec comme ennemi Futon),</span></li>
							<li><span class="doton">Doton (la terre avec comme ennemi Raiton).</span></li>
						</ul>
						<p></p>
						<h4>Principe des oppositions de classe</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/classes.jpg') }}" alt="opposition des classes" class="pull-right">Chacune des 5 cinqs classes est prédominante sur une autre. Cela signifie qu'un ninja d'une classe prédominante sur une autre infligera plus de dégât à un ninja de cette classe.<br>
						Par exemple un ninja Suiton infligera 10% de dégâts de plus des dommages habituels à un ninja Katon. Mais le ninja Katon fera de même sur un ninja Futon. Voici un graphique illustrant la boucle des prédominances :<br>
						<br>
						N'oublie pas que tu peux voir les pourcentages de ninja de chaque classe en bas de la <a href="{{ path('ninja_tooken_game_classement') }}">page classement</a>. Choisis intelligemment ta classe en fonction des classes présentes dans le jeu (si il y a 50% de ninjas dotons, choisis plutôt raiton !)<br>
						<br>
						<br>
						Comme dit en introduction, chaque classe possède deux jutsus qui lui sont propres. Ces jutsus vont probablement déterminer ton choix de classe.
						<img src="{{ asset('bundles/ninjatookencommon/images/guide/fresque.jpg') }}" alt=""><br>
						<strong>Suiton</strong> : Marcher sur l'eau, Vague<br>
						<strong>Futon</strong> : Transparence, Tornade<br>
						<strong>Katon</strong> : Protection contre le feu, Phoenix<br>
						<strong>Raiton</strong> : Multishoot, Téléportation<br>
						<strong>Doton</strong> : Métamorphose, Pics de roche<br>
						<br>
						Rendez-vous dans la partie <a href="#jutsu" alt="Jutsus" title="Jutsus">jutsus</a> pour en savoir plus.</p>

						<hr>

						<h2>Options</h2>
						<h3 id="parametrage-touche">Paramétrage des Touches</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/touches.gif') }}" alt="paramétrage des touches" class="pull-right">
						Tu l'auras compris, Ninja Tooken est un jeu complet ! Mais pas de panique, car tu peux modifier absolument tous les contrôles du jeu à loisir.<br>
						<br>
						Pour cela rends toi dans le menu "Options" puis direction "Contrôles". Tu devrais voir la liste complète des actions avec à droite la touche du clavier associée... et si tu as un doute sur une action, il te suffit de passer sur le texte correspondant.<br>
						<br>
						A partir de là rien de plus simple, clique sur le bouton correspondant à la touche que tu veux modifier et appuis sur la touche que tu préfères utiliser. Mais fais attention de ne pas assigner la même touche à plusieurs actions différentes, sans quoi la précédente action ne marchera plus...<br>
						Ces modifications sont prises en comptes sur ton ordinateur uniquement, donc si tu en changes, n'oublie pas de repasser par ce menu !<br>
						<br>
						Tu noteras au passage qu'à partir de ce même menu tu peux modifier la sensibilité de la souris : plus elle est élevée, et plus ton ninja tournera vite.</p>

						<h3 id="parametrage-video">Paramétrage de la Vidéo et du Son</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/audioVideo.gif') }}" alt="paramétrage de la Vidéo et du Son" class="pull-right">
						A partir du menu "Options" puis "Audio", tu peux modifier le volume des sons et des musiques d'ambiance du jeu.<br>
						<br>
						Dans le menu "Graphique" tu peux modifier la qualité d'affichage de la 3D. Par défaut celle-ci est en "Simple". Si tu constates des ralentissements, tu peux la diminuer, et si tu as la dernière bête de course, n'hésites pas à augmenter, tu ne le regretteras pas !<br>
						<br>
						A noter le paramètre "Sélection automatique" qui va choisir pendant le jeu le rapport qualité/FPS le plus adapté.<br>
						Selon la configuration de ton pc, ce paramétrage peut s'avérer instable (aller/retour incessant entre deux niveaux de qualité graphiques) : ici encore, n'hésite pas et teste !</p>

						<h3 id="systeme">Système (cékoidon)</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/systeme.gif') }}" alt="Système" class="pull-right">
						Depuis le menu "Options" puis "Système" tu arrives sur des informations purement informatives qui détectent la version du plug-in utilisée, ainsi que ta carte graphique.<br>
						Tu auras également la possibilité de modifier la langue du jeu.<br>
						<br>
						Ces informations sont fournies à titre purement informatives... vérifie que tout correspond à ce que tu as effectivement sur ton pc, et vas vite jouer !</p>

						<h3 id="amelioration-bug">Demandes d'Améliorations et bugs</h3>
						<p>Tu joues depuis un certain temps maintenant, et tu as remarqué des bugs, ou tu veux partager tes idées pour améliorer le jeu ?<br>
						Pour cela, il suffit de nous envoyer un message ici : <a href="{{ path('ninja_tooken_forum') }}" alt="Amélioration et bugs" title="Améliorations et bugs">Forum : Amélioration et bugs</a></p>
					</section>
					<aside class="span4">
						<section>
							<h4>Pour commencer...</h4>
							<ul>
								<li><a href="#description-generale" alt="Description Générale" title="Description Générale">Description Générale</a></li>
								<li><a href="#commande-jeu" alt="Commande de Jeu" title="Commande de Jeu">Commandes de Jeu</a></li>
								<li><a href="#partie-solo" alt="Partie Solo" title="Partie Solo">Partie Solo</a></li>
								<li><a href="#partie-reseau" alt="Partie Réseau" title="Partie Réseau">Partie Réseau</a></li>
							</ul>
							<h4>Mon Ninja</h4>
							<ul>
								<li><a href="#vie-chakra" alt="Vie et Chakra" title="Vie et Chakra">Vie et Chakra</a></li>
								<li><a href="#experience" alt="Expérience" title="Expérience">Expérience</a></li>
								<li><a href="#aptitude" alt="Aptitudes" title="Aptitudes">Aptitudes</a></li>
								<li><a href="#jutsu" alt="Jutsus" title="Jutsus">Jutsus</a></li>
								<li><a href="#arme" alt="Armes" title="Armes">Armes</a></li>
								<li><a href="#classes" alt="Classes" title="Classes">Classes</a></li>
							</ul>
							<h4>Options</h4>
							<ul>
								<li><a href="#parametrage-touche" alt="Paramétrage des Touches" title="Paramétrage des Touches">Paramétrage des Touches</a></li>
								<li><a href="#parametrage-video" alt="Paramétrage de la Vidéo et du Son" title="Paramétrage de la Vidéo et du Son">Paramétrage de la Vidéo et du Son</a></li>
								<li><a href="#systeme" alt="Système (cékoidon)" title="Système (cékoidon)">Système (cékoidon)</a></li>
								<li><a href="#amelioration-bug" alt="Demandes d'Améliorations et bugs" title="Demandes d'Améliorations et bugs">Demandes d'Améliorations et bugs</a></li>
							</ul>
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>Partenaires</h4>
							<ul class="partenaire">
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
							</ul>
						</section>
					</aside>
				</div>
{% endblock %}
