{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ 'menu.guide'|trans({}, 'menu') }}{% endblock %}
{% block description %}{{ 'description.meta.guide'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.meta.guide'|trans }}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.manuel'|trans({}, 'menu') }}</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_manuel') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.guide'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
                <div class="row-fluid">
					<section class="span8 main">
						<h2>{{ 'guide.partie1.nom'|trans }}</h2>

						<h3 id="description-generale">{{ 'guide.partie1.sousPartie1.nom'|trans }}</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/fresque.jpg') }}" alt=""><br>
                        {{ 'guide.partie1.sousPartie1.description'|trans({'%urlRegister%': path('fos_user_registration_register')})|raw }}
						</p>

						<h3 id="commande-jeu">{{ 'guide.partie1.sousPartie2.nom'|trans }}</h3>
						<p>{{ 'guide.partie1.sousPartie2.description'|trans|raw }}</p>

						<h3 id="partie-solo">{{ 'guide.partie1.sousPartie3.nom'|trans }}</h3>
						<p>{{ 'guide.partie1.sousPartie3.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie1.sousPartie3.sousPartie1.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/course.jpg') }}" alt="course">
                        {{ 'guide.partie1.sousPartie3.sousPartie1.description'|trans|raw }}
                        </p>
						
						<h4>{{ 'guide.partie1.sousPartie3.sousPartie2.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/assassinat.jpg') }}" alt="assassinat"/>
                        {{ 'guide.partie1.sousPartie3.sousPartie2.description'|trans|raw }}
                        </p>
                        <p>{{ 'guide.partie1.sousPartie3.sousPartie3.description'|trans|raw }}</p>

						<h3 id="partie-reseau">{{ 'guide.partie1.sousPartie4.nom'|trans }}</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/reseau.jpg') }}" alt="parties réseaux" class="pull-right">
						{{ 'guide.partie1.sousPartie4.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie1.sousPartie4.sousPartie1.nom'|trans }}</h4>
						<p>{{ 'guide.partie1.sousPartie4.sousPartie1.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie1.sousPartie4.sousPartie2.nom'|trans }}</h4>
						<p>{{ 'guide.partie1.sousPartie4.sousPartie2.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie1.sousPartie4.sousPartie3.nom'|trans }}</h4>
						<p>{{ 'guide.partie1.sousPartie4.sousPartie3.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie1.sousPartie4.sousPartie4.nom'|trans }}</h4>
						<p>{{ 'guide.partie1.sousPartie4.sousPartie4.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie1.sousPartie4.sousPartie5.nom'|trans }}</h4>
						<p>{{ 'guide.partie1.sousPartie4.sousPartie5.description'|trans|raw }}</p>

						<hr>

						<h2>{{ 'guide.partie2.nom'|trans }}</h2>

						<h3 id="vie-chakra">{{ 'guide.partie2.sousPartie1.nom'|trans }}</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/infosPerso.jpg') }}" alt="interface" class="pull-right">
						{{ 'guide.partie2.sousPartie1.description'|trans|raw }}
                        </p>

						<h3 id="experience">{{ 'guide.partie2.sousPartie2.nom'|trans }}</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/experience.jpg') }}" alt="un niveau en plus" class="pull-right">
						{{ 'guide.partie2.sousPartie2.description'|trans|raw }}</p>

						<h3 id="aptitude">{{ 'guide.partie2.sousPartie3.nom'|trans }}</h3>
						<p>{{ 'guide.partie2.sousPartie3.description'|trans|raw }}</p>
						<img src="{{ asset('bundles/ninjatookencommon/images/guide/skecthfuton.jpg') }}" class="pull-right" alt="">

						<h4>{{ 'guide.partie2.sousPartie3.sousPartie1.nom'|trans }}</h4>
						<p>{{ 'guide.partie2.sousPartie3.sousPartie1.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie3.sousPartie2.nom'|trans }}</h4>
						<p>{{ 'guide.partie2.sousPartie3.sousPartie2.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie3.sousPartie3.nom'|trans }}</h4>
						<p>{{ 'guide.partie2.sousPartie3.sousPartie3.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie3.sousPartie4.nom'|trans }}</h4>
						<p>{{ 'guide.partie2.sousPartie3.sousPartie4.description'|trans|raw }}</p>

						<h3 id="jutsu">{{ 'guide.partie2.sousPartie4.nom'|trans }}</h3>
						<p>{{ 'guide.partie2.sousPartie4.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie4.sousPartie1.nom'|trans }}</h4>
						<p>{{ 'guide.partie2.sousPartie4.sousPartie1.description'|trans|raw }}</p>

						<h3>{{ 'guide.partie2.sousPartie5.nom'|trans }}</h3>
						<p>{{ 'guide.partie2.sousPartie5.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie1.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/protection.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie1.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie1.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie2.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/boule.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie2.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie2.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie3.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/saut.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie3.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie3.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie4.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/bouclier.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie4.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie4.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie5.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/mur.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie5.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie5.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie6.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/acierRenforce.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie6.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie6.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie7.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/deflagration.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie7.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie7.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie8.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/chakraVie.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie8.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie8.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie5.sousPartie9.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/kusanagi.png') }}" alt="{{ 'guide.partie2.sousPartie5.sousPartie9.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie5.sousPartie9.description'|trans|raw }}
						</p>

						<h3 id="jutsuClasse">{{ 'guide.partie2.sousPartie6.nom'|trans }}</h3>
						<p>{{ 'guide.partie2.sousPartie6.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie6.sousPartie1.nom'|trans }}</h4>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie1.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/resistance.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie1.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie1.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie2.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/phoenix.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie2.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie2.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie3.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/KamiKagutsuchi.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie3.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie1.sousPartie3.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie6.sousPartie2.nom'|trans }}</h4>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie1.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/marcher.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie1.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie1.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie2.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/vague.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie2.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie2.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie3.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/KamiSusanoo.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie3.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie2.sousPartie3.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie6.sousPartie3.nom'|trans }}</h4>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie1.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/transparence.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie1.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie1.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie2.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/tornade.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie2.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie2.description'|trans|raw }}
						</p>

						<h5>{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie3.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/KamiFujin.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie3.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie3.sousPartie3.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie6.sousPartie4.nom'|trans }}</h4>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie1.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/rock.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie1.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie1.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie2.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/pieux.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie2.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie2.description'|trans|raw }}
						</p>

						<h5>{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie3.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/KamiSarutahiko.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie3.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie4.sousPartie3.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie6.sousPartie5.nom'|trans }}</h4>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie1.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/multi.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie1.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie1.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie2.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/teleportation.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie2.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie2.description'|trans|raw }}
						</p>
						<h5>{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie3.nom'|trans }}</h5>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/jutsus/KamiRaijin.png') }}" alt="{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie3.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie6.sousPartie5.sousPartie3.description'|trans|raw }}
						</p>

						<h3 id="arme">{{ 'guide.partie2.sousPartie7.nom'|trans }}</h3>
						<p>{{ 'guide.partie2.sousPartie7.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie7.sousPartie1.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/katana.png') }}" alt="{{ 'guide.partie2.sousPartie7.sousPartie1.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie7.sousPartie1.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie7.sousPartie2.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/kunai.png') }}" alt="{{ 'guide.partie2.sousPartie7.sousPartie2.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie7.sousPartie2.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie7.sousPartie3.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/explo.png') }}" alt="{{ 'guide.partie2.sousPartie7.sousPartie3.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie7.sousPartie3.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie7.sousPartie4.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/shuriken.png') }}" alt="{{ 'guide.partie2.sousPartie7.sousPartie4.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie7.sousPartie4.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie7.sousPartie5.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/ombre.png') }}" alt="{{ 'guide.partie2.sousPartie7.sousPartie5.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie7.sousPartie5.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie7.sousPartie6.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/fumigene.png') }}" alt="{{ 'guide.partie2.sousPartie7.sousPartie6.nom'|trans }}" class="pull-left">
						{{ 'guide.partie2.sousPartie7.sousPartie6.description'|trans|raw }}
						</p>

						<h4>{{ 'guide.partie2.sousPartie7.sousPartie7.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/armes/makibishi.png') }}" alt="{{ 'guide.partie2.sousPartie7.sousPartie7.nom'|trans }}" class="pull-left">
                        {{ 'guide.partie2.sousPartie7.sousPartie7.description'|trans|raw }}
                        </p>

						<h3 id="classes">{{ 'guide.partie2.sousPartie8.nom'|trans }}</h3>
						<p>{{ 'guide.partie2.sousPartie8.description'|trans|raw }}</p>

						<h4>{{ 'guide.partie2.sousPartie8.sousPartie1.nom'|trans }}</h4>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/classes.jpg') }}" alt="opposition des classes" class="pull-right">
                        {{ 'guide.partie2.sousPartie8.sousPartie1.description'|trans|raw }}
                        </p>
                        <p><img src="{{ asset('bundles/ninjatookencommon/images/guide/fresque.jpg') }}" alt=""><br>
                        {{ 'guide.partie2.sousPartie8.sousPartie1.description2'|trans|raw }}
                        </p>

						<hr>

						<h2>{{ 'guide.partie3.nom'|trans }}</h2>

						<h3 id="parametrage-touche">{{ 'guide.partie3.sousPartie1.nom'|trans }}</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/touches.gif') }}" alt="{{ 'guide.partie3.sousPartie1.nom'|trans }}" class="pull-right">
                        {{ 'guide.partie3.sousPartie1.description'|trans|raw }}
						</p>

						<h3 id="parametrage-video">{{ 'guide.partie3.sousPartie2.nom'|trans }}</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/audioVideo.gif') }}" alt="{{ 'guide.partie3.sousPartie2.nom'|trans }}" class="pull-right">
                        {{ 'guide.partie3.sousPartie2.description'|trans|raw }}
						</p>

						<h3 id="systeme">{{ 'guide.partie3.sousPartie3.nom'|trans }}</h3>
						<p><img src="{{ asset('bundles/ninjatookencommon/images/guide/systeme.gif') }}" alt="{{ 'guide.partie3.sousPartie3.nom'|trans }}" class="pull-right">
                        {{ 'guide.partie3.sousPartie3.description'|trans|raw }}
						</p>

						<h3 id="amelioration-bug">{{ 'guide.partie3.sousPartie4.nom'|trans }}</h3>
						<p>{{ 'guide.partie3.sousPartie4.description'|trans({'%urlForum%': path('ninja_tooken_forum')})|raw }}</p>
					</section>
					<aside class="span4">
						<section>
							<h4>{{ 'guide.partie1.nom'|trans }}</h4>
							<ul>
								<li><a href="#description-generale" title="{{ 'guide.partie1.sousPartie1.nom'|trans }}">{{ 'guide.partie1.sousPartie1.nom'|trans }}</a></li>
								<li><a href="#commande-jeu" title="{{ 'guide.partie1.sousPartie2.nom'|trans }}">{{ 'guide.partie1.sousPartie2.nom'|trans }}</a></li>
								<li><a href="#partie-solo" title="Partie Solo">{{ 'guide.partie1.sousPartie3.nom'|trans }}</a></li>
								<li><a href="#partie-reseau" title="{{ 'guide.partie1.sousPartie4.nom'|trans }}">{{ 'guide.partie1.sousPartie4.nom'|trans }}</a></li>
							</ul>
							<h4>{{ 'guide.partie2.nom'|trans }}</h4>
							<ul>
								<li><a href="#vie-chakra" title="{{ 'guide.partie2.sousPartie1.nom'|trans }}">{{ 'guide.partie2.sousPartie1.nom'|trans }}</a></li>
								<li><a href="#experience" title="{{ 'guide.partie2.sousPartie2.nom'|trans }}">{{ 'guide.partie2.sousPartie2.nom'|trans }}</a></li>
								<li><a href="#aptitude" title="{{ 'guide.partie2.sousPartie3.nom'|trans }}">{{ 'guide.partie2.sousPartie3.nom'|trans }}</a></li>
								<li><a href="#jutsu" title="{{ 'guide.partie2.sousPartie4.nom'|trans }}">{{ 'guide.partie2.sousPartie4.nom'|trans }}</a></li>
								<li><a href="#arme" title="{{ 'guide.partie2.sousPartie7.nom'|trans }}">{{ 'guide.partie2.sousPartie7.nom'|trans }}</a></li>
								<li><a href="#classes" title="{{ 'guide.partie2.sousPartie8.nom'|trans }}">{{ 'guide.partie2.sousPartie8.nom'|trans }}</a></li>
							</ul>
							<h4>{{ 'guide.partie3.nom'|trans }}</h4>
							<ul>
								<li><a href="#parametrage-touche" title="{{ 'guide.partie3.sousPartie1.nom'|trans }}">{{ 'guide.partie3.sousPartie1.nom'|trans }}</a></li>
								<li><a href="#parametrage-video" title="{{ 'guide.partie3.sousPartie2.nom'|trans }}">{{ 'guide.partie3.sousPartie2.nom'|trans }}</a></li>
								<li><a href="#systeme" title="{{ 'guide.partie3.sousPartie3.nom'|trans }}">{{ 'guide.partie3.sousPartie3.nom'|trans }}</a></li>
								<li><a href="#amelioration-bug" title="{{ 'guide.partie3.sousPartie4.nom'|trans }}">{{ 'guide.partie3.sousPartie4.nom'|trans }}</a></li>
							</ul>
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
