{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ 'menu.mention'|trans({}, 'menu') }}{% endblock %}
{% block description %}{{ 'description.meta.mention'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.meta.mention'|trans }}{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_mentions_legales') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.mention'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span8 main">
						<h3>{{ 'mention.partie1.nom'|trans }}</h3>
						<p>{{ 'mention.partie1.description'|trans|raw }}</p>

						<h3>{{ 'mention.partie2.nom'|trans }}</h3>
						<p>{{ 'mention.partie2.description'|trans|raw }}</p>

						<h3>{{ 'mention.partie3.nom'|trans }}</h3>
						<p>{{ 'mention.partie3.description'|trans|raw }}</p>
					</section>
					<aside class="span4">
						<form action="{{ path('ninja_tooken_forum_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="{{ 'action.chercher'|trans({}, 'common') }}" class="span10">
							<input type="submit" name="s" value="{{ 'action.ok'|trans({}, 'common') }}" class="span2">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': 0})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
