{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ 'menu.team'|trans({}, 'menu') }}{% endblock %}
{% block description %}{{ 'description.meta.team'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.meta.team'|trans }}{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_team') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.team'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span8 main">
						<p>{{ 'team.description'|trans }}</p>

						<h3>{{ 'team.partie1.nom'|trans }}</h3>

                        {% for i in 1..8 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}

						<h3>{{ 'team.partie2.nom'|trans }}</h3>

                        {% for i in 9..10 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}

						<h3>{{ 'team.partie9.nom'|trans }}</h3>

                        {% for i in 11..11 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}


						<h3>{{ 'team.partie3.nom'|trans }}</h3>

                        {% for i in 12..13 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}

						<h3>{{ 'team.partie4.nom'|trans }}</h3>

                        {% for i in 14..15 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}

						<h3>{{ 'team.partie5.nom'|trans }}</h3>

                        {% for i in 16..17 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}

						<h3>{{ 'team.partie6.nom'|trans }}</h3>

                        {% for i in 18..22 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}

						<h3>{{ 'team.partie7.nom'|trans }}</h3>

                        {% for i in 23..24 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}
                        
                        <h3>{{ 'team.partie8.nom'|trans }}</h3>

                        {% for i in 25..25 %}
						<h4>{{ ('team.membre' ~ i ~ '.nom')|trans }}</h4>
                        <p>{{ ('team.membre' ~ i ~ '.description')|trans|raw }}</p>
                        {% endfor %}

						<p>{{ 'team.description1'|trans({'%urlContact%': path('ninja_tooken_contact')})|raw }}</p>
	
					</section>
					<aside class="span4">
						<form action="{{ path('ninja_tooken_forum_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="{{ 'action.chercher'|trans({}, 'common') }}" class="span10">
							<input type="submit" name="s" value="{{ 'action.ok'|trans({}, 'common') }}" class="span2">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': 0})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
