{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ 'action.editComment'|trans }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span> <i class="icon-angle-right"></i>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.forum'|trans({}, 'menu') }}</span>
								</a> <i class="icon-angle-right"></i>
							</span>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}" itemprop="url">
									<span itemprop="title">{{ forum.nom }}</span>
								</a> <i class="icon-angle-right"></i>
							</span>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_thread', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" itemprop="url">
									<span itemprop="title">{% if thread.isCommentable == false %}<i class="icon-lock"></i> {% endif %}{% if thread.isPostit =='1' %}<i class="icon-pushpin"></i> {% endif %}{% if date(thread.lastCommentAt) > date('-1days') %}<i class="icon-eye-open"></i> {% endif %}{{ thread.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_comment_modifier', {forum_nom:forum.slug, thread_nom:thread.slug, comment_id:comment.id, page:page}) }}" itemprop="url">
									<span itemprop="title"><i class="icon-pencil"></i> {{ 'action.editComment'|trans }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
				    <form action="#" {{ form_enctype(form) }} method="POST" accept-charset="UTF-8" class="full">
					{{ form_widget(form) }}
					<div class="row-fluid">
					    <div class="span8 offset4">
						<input type="submit" value="{{ 'action.editer'|trans({}, 'common') }}" class="button">
					    </div>
					</div>
				    </form>
				</section>
{% endblock %}
