							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ asset('bundles/ninjatookencommon/images/avatar.jpg') }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}" rel="author" itemprop="url">
										<span itemprop="name">2Kin</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}" itemprop="replyToUrl"><span itemprop="name">Tournoi de capture de sashimono ce dimanche 10 février</span></a></h5>
							</div>