{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Forum{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Le jeu</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_event') }}" itemprop="url">
									<span itemprop="title">Events</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div id="timeline"></div>
				<section class="forum">
					<h4><a href="#" class="button pull-right">Nouvel event</a>Events</h4>
					{% if threads is not empty %}
					{% set firstThread = threads|first %}
					{% if firstThread.dateEventStart|date("Y") == "-0001" %}
						{% set firstDate = firstThread.dateAjout %}
					{% else %}
						{% set firstDate = firstThread.dateEventStart %}
					{% endif %}
					<script>
					var _timeline = {"timeline":{
						"headline":"Les events NinjaTooken",
						"type":"default",
						"text":"Tournoi, streams, concours : c'est ici que ça se passe !",
						"startDate":"{{ firstDate|date("Y,m,d") }}",
						"date": [{% for thread in threads %}{% spaceless %}
							{% if thread.dateEventStart|date("Y") == "-0001"  %}
								{% set first = thread.dateAjout|date("Y,m,d") %}
								{% set second = '' %}
							{% else %}
								{% set first = thread.dateEventStart|date("Y,m,d") %}
								{% if thread.dateEventEnd|date("Y") == "-0001"  %}
									{% set second = '' %}
								{% else %}
									{% set second = thread.dateEventEnd|date("Y,m,d") %}
								{% endif %}
							{% endif %}
							{% set text = thread.body|raw|slice(0,250)|purify('min') ~ '<p><a href="' ~ path('ninja_tooken_message', {topic_nom: thread.forum.slug, message_nom:thread.slug, page:1}) ~ '" class="pull-right">Lire la suite &raquo;</a></p>' %}
							{
								"startDate":"{{ first }}",
								"endDate":"{{ second }}",
								"headline":"{{ thread.nom|escape('js') }}",
								"text":"{{ text|escape('js') }}",
								"asset":
								{
									"media":"{{ thread.urlVideo }}",
									"credit":"",
									"caption":""
								}
							},
						{% endspaceless %}{% endfor %}]
					}};
					</script>
					{% for thread in threads %}
					{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
					{% endfor %}
					{% include 'pagination.html.twig' with {
						currentPage: page,
						paginationPath: path('ninja_tooken_event', {'page': ''}),
						paginationAfter: '',
						lastPage: nombrePage,
						extremePagesLimit: 2,
						nearbyPagesLimit: 3
					} only %}
					{% else %}
					Pas encore d'évènements.
					{% endif %}
				</section>
{% endblock %}
