{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Forum{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					<h4><a href="{{ path('ninja_tooken_topic_ajouter') }}" class="button pull-right">Nouveau topic</a><a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}">Nouveautés</a></h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}"><i class="icon-pushpin"></i> <i class="icon-eye-open"></i> Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin en plus long</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}"><i class="icon-eye-open"></i> Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}"><i class="icon-eye-open"></i> Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}"><i class="icon-lock"></i> Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>

					<h4><a href="#" class="button pull-right">Nouveau topic</a><a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}">Améliorations (propositions d'idées)</a></h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}"><i class="icon-lock"></i> Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}"><i class="icon-lock"></i> Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>

					<h4><a href="#" class="button pull-right">Nouveau topic</a><a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}">Rapports de bug</a></h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>

					<h4><a href="#" class="button pull-right">Nouveau topic</a><a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}">Tournois, entraînements, rendez-vous</a></h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>

					<h4><a href="#" class="button pull-right">Nouveau topic</a><a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}">Astuces et questions diverses</a></h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>

					<h4><a href="#" class="button pull-right">Nouveau topic</a><a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}">Hors sujet, actualités, flood, jeux</a></h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>

					<h4><a href="#" class="button pull-right">Nouveau topic</a><a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}">Plaintes (triche ou abus)</a></h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
				</section>
{% endblock %}
