{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Forum{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span> <i class="icon-angle-right"></i>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a> <i class="icon-angle-right"></i>
							</span>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {topic_nom:forum.slug}) }}" itemprop="url">
									<span itemprop="title">{{ forum.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_message', {topic_nom:forum.slug, message_nom:thread.slug}) }}" itemprop="url">
									<span itemprop="title">{% if thread.isCommentable =='0' %}<i class="icon-lock"></i> {% endif %}{% if thread.isPostit =='1' %}<i class="icon-pushpin"></i> {% endif %}{% if date(thread.lastCommentAt) > date('-1days') %}<i class="icon-eye-open"></i> {% endif %}{{ thread.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<div class="span8">
						<article itemscope itemtype="http://schema.org/Article">
							{{ render(controller('NinjaTookenGameBundle:Default:signature', {'user':thread.author})) }}
							<header>
								<time itemprop="datePublished" datetime="{{ thread.dateAjout|date("Y-m-d\\TH:i:sP") }}">Le {{ thread.dateAjout|localizeddate('full', 'none', app.request.locale) }} à {{ thread.dateAjout|localizeddate('none', 'short', app.request.locale) }}</time>
							</header>
							<div class="content clearfix" itemprop="articleBody">
								{{ thread.body|raw|purify('full') }}
							</div>
							<p class="clearfix"><a href="#" class="button mini pull-right answer">Répondre</a></p>
							<form action="#" method="post" accept-charset="UTF-8" id="answer" class="full inset">
								<div>
									<div class="textarea" name="content">&nbsp;</div>
								</div>
								<div>
									<input type="submit" value="Répondre" class="button">
								</div>
							</form>
							{% if nombreComment > 0 %}
							<hr>
							<section>
								<span class="comments">{{ nombreComment }} commentaire{% if nombreComment>1 %}s{% endif %}</span>
								{% include 'pagination.html.twig' with {
									currentPage: page,
									paginationPath: path('ninja_tooken_message', {topic_nom: forum.slug, message_nom:thread.slug, 'page': ''}),
									paginationAfter: '',
									lastPage: nombrePage
								} only %}
								{% for comment in comments %}
								<article itemprop="comment" itemscope itemtype="http://schema.org/UserComments" id="c{{ loop.index }}">
									<link itemprop="url" href="#c{{ loop.index }}">
									{{ render(controller('NinjaTookenGameBundle:Default:signature', {'user':comment.author})) }}
									<header>
										<time itemprop="commentTime" datetime="{{ comment.dateAjout|date("Y-m-d\\TH:i:sP") }}">Le {{ comment.dateAjout|localizeddate('medium', 'none', app.request.locale) }} à {{ comment.dateAjout|localizeddate('none', 'short', app.request.locale) }}</time>
									</header>
									<div class="content clearfix" itemprop="commentText">
										<p>{{ comment.body|raw|purify('full') }}</p>
									</div>
									<p class="clearfix"><a href="#" class="button mini pull-right answer">Répondre</a></p>
								</article>
								{% endfor %}
								{% include 'pagination.html.twig' with {
									currentPage: page,
									paginationPath: path('ninja_tooken_message', {topic_nom: forum.slug, message_nom:thread.slug, 'page': ''}),
									paginationAfter: '',
									lastPage: nombrePage
								} only %}
							</section>
							{% endif %}
						</article>
					</div>
					<aside class="span4">
						<form action="search.html" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="Chercher" class="span10">
							<input type="submit" name="s" value="Ok !" class="span2">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': forum.id})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>Partenaires</h4>
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
						</section>
					</aside>
				</div>
{% endblock %}
