{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Recherche de message du forum{% endblock %}
{% block description %}Rechercher dans le forum de NinjaTooken : ton idée, problème, ou envie a peut être déjà été postée...{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, recherche, message, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.forum'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum_search') }}" itemprop="url">
									<span itemprop="title">{{ 'action.chercher'|trans({}, 'common') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					<h4>{{ 'action.chercherResult'|trans({}, 'common') }}</h4>
					<br class="clear">
					{% if threads is not empty %}
						<p>{{ 'description.chercher'|transchoice(threads|length, {'%q%': app.request.get('q')}) }}"{% if forum is not empty %} {{ 'description.chercher1'|trans({'%forum%':forum.nom}) }}{% endif %}{% if user is not empty %} {{ 'description.chercher2'|trans({'%user%':user.username}) }}{% endif %}.</p>
						{% for thread in threads %}
						<div class="row-fluid topic">
							<div class="span6">
								<h5><a href="{{ path('ninja_tooken_thread', {forum_nom: thread.forum.slug, thread_nom:thread.slug, page:1}) }}">{% if thread.isCommentable =='0' %}<i class="icon-lock"></i> {% endif %}{% if thread.isPostit =='1' %}<i class="icon-pushpin"></i> {% endif %}{% if date(thread.lastCommentAt) > date('-1days') %}<i class="icon-eye-open"></i> {% endif %}{{ thread.nom }}</a></h5>
							</div>
							<div class="span3">
								 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:thread.author.slug}) }}">{{ thread.author.username }}</a>, {{ 'description.datetime'|trans({'%date%': thread.dateAjout|localizeddate('medium', 'none', app.request.locale), '%time%': thread.dateAjout|localizeddate('none', 'short', app.request.locale)}, 'common') }}
							</div>
							{% if thread.lastCommentBy is defined and thread.lastCommentBy is not null %}
							<div class="span3">
								{{ 'titre.dernier'|trans }} <a href="{{ path('ninja_tooken_user_fiche', {user_nom:thread.lastCommentBy.slug}) }}">{{ thread.lastCommentBy.username }}</a>, {{ 'description.datetime'|trans({'%date%': thread.lastCommentAt|localizeddate('medium', 'none', app.request.locale), '%time%': thread.lastCommentAt|localizeddate('none', 'short', app.request.locale)}, 'common') }}
							</div>
							{% endif %}
						</div>
						{% endfor %}
					{% else %}
					{{ 'description.noResult'|trans({}, 'common') }}
					{% endif %}
					<br class="clear">
					<h4>{{ 'action.chercherReset'|trans({}, 'common') }}</h4>
					<form action="{{ path('ninja_tooken_forum_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
						<input type="text" name="q" value="{{ 'action.chercher'|trans({}, 'common') }}" class="span10">
						<input type="submit" name="s" value="{{ 'action.ok'|trans({}, 'common') }}" class="span2">
						{% if forum is not empty %}<input type="hidden" name="forum" value="{{ forum.slug }}">{% endif %}
						{% if user is not empty %}<input type="hidden" name="user" value="{{ user.slug }}">{% endif %}
					</form>
				</section>
{% endblock %}
