{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Recherche de message du forum{% endblock %}
{% block description %}Rechercher dans le forum de NinjaTooken : ton idée, problème, ou envie a peut être déjà été postée...{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, recherche, message, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum_search') }}" itemprop="url">
									<span itemprop="title">Chercher</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					<h4>Résultat de la recherche</h4>
					<br class="clear">
					{% if threads is not empty %}
						<p>{{ threads|length }} topic{% if threads|length > 1 %}s{% endif %} trouvé{% if threads|length > 1 %}s{% endif %} pour "{{ app.request.get('q') }}"{% if forum is not empty %} dans le forum "{{ forum.nom }}"{% endif %}{% if user is not empty %} comme auteur "{{ user.username }}"{% endif %}.</p>
						{% for thread in threads %}
						<div class="row-fluid topic">
							<div class="span6">
								<h5><a href="{{ path('ninja_tooken_thread', {forum_nom: thread.forum.slug, thread_nom:thread.slug, page:1}) }}">{% if thread.isCommentable =='0' %}<i class="icon-lock"></i> {% endif %}{% if thread.isPostit =='1' %}<i class="icon-pushpin"></i> {% endif %}{% if date(thread.lastCommentAt) > date('-1days') %}<i class="icon-eye-open"></i> {% endif %}{{ thread.nom }}</a></h5>
							</div>
							<div class="span3">
								 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:thread.author.slug}) }}">{{ thread.author.username }}</a>, {{ thread.dateAjout|localizeddate('medium', 'none', app.request.locale) }} à {{ thread.dateAjout|localizeddate('none', 'short', app.request.locale) }}
							</div>
							{% if thread.lastCommentBy is defined and thread.lastCommentBy is not null %}
							<div class="span3">
								dernier <a href="{{ path('ninja_tooken_user_fiche', {user_nom:thread.lastCommentBy.slug}) }}">{{ thread.lastCommentBy.username }}</a>, le {{ thread.lastCommentAt|localizeddate('medium', 'none', app.request.locale) }} à {{ thread.lastCommentAt|localizeddate('none', 'short', app.request.locale) }}
							</div>
							{% endif %}
						</div>
						{% endfor %}
					{% else %}
					Aucun résultat trouvé.
					{% endif %}
					<br class="clear">
					<h4>Faire une autre recherche</h4>
					<form action="{{ path('ninja_tooken_forum_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
						<input type="text" name="q" value="Chercher" class="span10">
						<input type="submit" name="s" value="Ok !" class="span2">
						{% if forum is not empty %}<input type="hidden" name="forum" value="{{ forum.slug }}">{% endif %}
						{% if user is not empty %}<input type="hidden" name="user" value="{{ user.slug }}">{% endif %}
					</form>
				</section>
{% endblock %}
