{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ thread.nom }}{% endblock %}
{% block description %}{{ thread.body|raw|striptags|slice(0,255) }}{% endblock %}
{% block keywords %}{{ thread.nom }}{{ 'keywords.meta.thread'|trans }}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span> <i class="icon-angle-right"></i>
                            {% if forum.clan is empty %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.forum'|trans({}, 'menu') }}</span>
								</a> <i class="icon-angle-right"></i>
							</span>
                            {% else %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.clan'|trans({}, 'menu') }}</span>
								</a> <i class="icon-angle-right"></i>
							</span>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:forum.clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if forum.clan.tag is not empty %}[{{ forum.clan.tag }}] {% endif %}{{ forum.clan.nom }}</span>
								</a> <i class="icon-angle-right"></i>
							</span>
                            {% endif %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}" itemprop="url">
									<span itemprop="title">{{ forum.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_thread', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" itemprop="url">
									<span itemprop="title">{% if thread.isCommentable == false %}<i class="icon-lock"></i> {% endif %}{% if thread.isPostit =='1' %}<i class="icon-pushpin"></i> {% endif %}{% if date(thread.lastCommentAt) > date('-1days') %}<i class="icon-eye-open"></i> {% endif %}{{ thread.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<div class="span8">
						{# permet de définir un administrateur local pour les clan, ou le global #}
						{% set ROLE_ADMIN = is_granted("ROLE_ADMIN") or is_granted("ROLE_MODERATOR") or (forum.clan and app.user and app.user.clan and app.user.clan.clan == forum.clan and app.user.clan.canEditClan == true) %}
						<article itemscope itemtype="http://schema.org/Article">
							{{ render(controller('NinjaTookenGameBundle:Default:signature', {'user':thread.author})) }}
							<header>
								<time itemprop="datePublished" datetime="{{ thread.dateAjout|date("Y-m-d\\TH:i:sP") }}">{{ 'description.datetime'|trans({'%date%': thread.dateAjout|localizeddate('full', 'none', app.request.locale), '%time%': thread.dateAjout|localizeddate('none', 'short', app.request.locale)}, 'common') }}</time>
							</header>
							<div class="content clearfix" itemprop="articleBody">
								{{ thread.body|raw|purify('full') }}
								{% if thread.isEvent and (thread.dateEventStart is not null or thread.dateEventEnd is not null) %}
								<p><br><strong>{{ 'titre.eventDate'|trans }}
									{% if thread.dateEventStart is not null %}
										{{ thread.dateEventStart|localizeddate('full', 'none', app.request.locale) }}
									{% endif %}
									{% if thread.dateEventEnd is not null %}
										- {{ thread.dateEventEnd|localizeddate('full', 'none', app.request.locale) }}
									{% endif %}
								</strong></p>
								{% endif %}
							</div>
							<p class="clearfix">
							{% if thread.isCommentable == true or ROLE_ADMIN %}
								{% if is_granted("ROLE_USER") %}
							<a href="#" class="button mini pull-right answer">{{ 'action.repondre'|trans({}, 'common') }}</a>
								{% endif %}
								{% if ROLE_ADMIN or thread.author == app.user %}
							<a href="{{ path('ninja_tooken_thread_supprimer', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" class="button mini pull-right delete">{{ 'action.supprimer'|trans({}, 'common') }}</a>
							<a href="{% if thread.isEvent %}{{ path('ninja_tooken_event_modifier', {thread_nom:thread.slug}) }}{% else %}{{ path('ninja_tooken_thread_modifier', {forum_nom:forum.slug, thread_nom:thread.slug}) }}{% endif %}" class="button mini pull-right">{{ 'action.editer'|trans({}, 'common') }}</a>
								{% endif %}
								{% if ROLE_ADMIN %}
								<a href="{{ path('ninja_tooken_thread_verrouiller', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" class="button mini pull-right">{% if thread.isCommentable %}{{ 'action.verrouiller'|trans({}, 'common') }}{% else %}{{ 'action.deverrouiller'|trans({}, 'common') }}{% endif %}</a>
								<a href="{{ path('ninja_tooken_thread_postit', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" class="button mini pull-right">{{ 'action.postit'|trans({}, 'common') }}</a>
								{% endif %}
							{% endif %}
							</p>
							{% if ROLE_ADMIN or (thread.isCommentable and is_granted("ROLE_USER")) %}
							    <form action="{{ path('ninja_tooken_comment_ajouter', {forum_nom:forum.slug, thread_nom:thread.slug, page:page}) }}" {{ form_enctype(form_comment) }} method="POST" accept-charset="UTF-8" id="answer" class="full inset">
								<hr>
								{{ form_widget(form_comment) }}
								<div>
									<input type="submit" value="{{ 'action.repondre'|trans({}, 'common') }}" class="button">
								</div>
							    </form>
							{% endif %}
							{% if thread.numComments > 0 %}
							<hr>
							<section>
								<span class="comments">{{ 'titre.comment'|transchoice(thread.numComments) }}</span>
								{% include 'pagination.html.twig' with {
									currentPage: page,
									paginationPath: path('ninja_tooken_thread', {forum_nom: forum.slug, thread_nom:thread.slug, 'page': ''}),
									paginationAfter: '',
									lastPage: nombrePage,
									extremePagesLimit: 2,
									nearbyPagesLimit: 3
								} only %}
								{% for comment in comments %}
								<article itemprop="comment" itemscope itemtype="http://schema.org/UserComments" id="c{{ loop.index }}">
									<link itemprop="url" href="#c{{ loop.index }}">
									{{ render(controller('NinjaTookenGameBundle:Default:signature', {'user':comment.author})) }}
									<header>
										<time itemprop="commentTime" datetime="{{ comment.dateAjout|date("Y-m-d\\TH:i:sP") }}">{{ 'description.datetime'|trans({'%date%': comment.dateAjout|localizeddate('full', 'none', app.request.locale), '%time%': comment.dateAjout|localizeddate('none', 'short', app.request.locale)}, 'common') }}</time>
									</header>
									<div class="content clearfix" itemprop="commentText">
										<p>{{ comment.body|raw|purify('full') }}</p>
									</div>
									{% if thread.isCommentable == true or ROLE_ADMIN %}
										<p class="clearfix">
										{% if is_granted("ROLE_USER") %}
											<a href="#" class="button mini pull-right answer">{{ 'action.repondre'|trans({}, 'common') }}</a>
										{% endif %}
										{% if ROLE_ADMIN or comment.author == app.user %}
											<a href="{{ path('ninja_tooken_comment_supprimer', {forum_nom:forum.slug, thread_nom:thread.slug, comment_id:comment.id, page:page}) }}" class="button mini pull-right delete">{{ 'action.supprimer'|trans({}, 'common') }}</a>
											<a href="{{ path('ninja_tooken_comment_modifier', {forum_nom:forum.slug, thread_nom:thread.slug, comment_id:comment.id, page:page}) }}" class="button mini pull-right">{{ 'action.editer'|trans({}, 'common') }}</a>
										{% endif %}
										</p>
									{% endif %}
								</article>
								{% endfor %}
								{% include 'pagination.html.twig' with {
									currentPage: page,
									paginationPath: path('ninja_tooken_thread', {forum_nom: forum.slug, thread_nom:thread.slug, 'page': ''}),
									paginationAfter: '',
									lastPage: nombrePage,
									extremePagesLimit: 2,
									nearbyPagesLimit: 3
								} only %}
							</section>
							{% endif %}
						</article>
					</div>
					<aside class="span4">
						<form action="{{ path('ninja_tooken_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="{{ 'action.chercher'|trans({}, 'common') }}" class="span10">
							<input type="submit" name="s" value="{{ 'action.ok'|trans({}, 'common') }}" class="span2">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': forum.id})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
