{% form_theme form _self %}

{% block form_widget_compound %}
{% spaceless %}
	{% if form.parent is empty %}
	    {{ form_errors(form) }}
	{% endif %}
	{{ block('form_rows') }}
	{{ form_rest(form) }}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
    <div>
	{{ form_widget(form) }}
	{{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block textarea_widget %}
{% spaceless %}
    <div class="textarea" {{ block('widget_attributes') }}>{{ value|raw|purify('full') }}</div>
{% endspaceless %}
{% endblock textarea_widget %}

{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ thread.nom }}{% endblock %}
{% block description %}{{ thread.body|raw|striptags|slice(0,255) }}{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, topic, {{ thread.nom }}, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span> <i class="icon-angle-right"></i>
                            {% if forum.clan is empty %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a> <i class="icon-angle-right"></i>
							</span>
                            {% else %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">Clans</span>
								</a> <i class="icon-angle-right"></i>
							</span>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:forum.clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if forum.clan.tag is not empty %}[{{ forum.clan.tag }}] {% endif %}{{ forum.clan.nom }}</span>
								</a> <i class="icon-angle-right"></i>
							</span>
                            {% endif %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}" itemprop="url">
									<span itemprop="title">{{ forum.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_thread', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" itemprop="url">
									<span itemprop="title">{% if thread.isCommentable == false %}<i class="icon-lock"></i> {% endif %}{% if thread.isPostit =='1' %}<i class="icon-pushpin"></i> {% endif %}{% if date(thread.lastCommentAt) > date('-1days') %}<i class="icon-eye-open"></i> {% endif %}{{ thread.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<div class="span8">
						{% for flashMessage in app.session.flashbag.get('notice') %}
						    <div class="flash-notice">
							{{ flashMessage }}
						    </div>
						{% endfor %}
						{# permet de définir un administrateur local pour les clan, ou le global #}
						{% set ROLE_ADMIN = is_granted("ROLE_ADMIN") or (forum.clan and app.user and app.user.clan and app.user.clan.clan == forum.clan and app.user.clan.canEditClan == true) %}
						<article itemscope itemtype="http://schema.org/Article">
							{{ render(controller('NinjaTookenGameBundle:Default:signature', {'user':thread.author})) }}
							<header>
								<time itemprop="datePublished" datetime="{{ thread.dateAjout|date("Y-m-d\\TH:i:sP") }}">Le {{ thread.dateAjout|localizeddate('full', 'none', app.request.locale) }} à {{ thread.dateAjout|localizeddate('none', 'short', app.request.locale) }}</time>
							</header>
							<div class="content clearfix" itemprop="articleBody">
								{{ thread.body|raw|purify('full') }}
							</div>
							<p class="clearfix">
							{% if thread.isCommentable == true or ROLE_ADMIN %}
								{% if is_granted("ROLE_USER") %}
							<a href="#" class="button mini pull-right answer">Répondre</a>
								{% endif %}
								{% if ROLE_ADMIN or thread.author == app.user %}
							<a href="{{ path('ninja_tooken_thread_supprimer', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" class="button mini pull-right delete">Supprimer</a>
							<a href="{{ path('ninja_tooken_thread_modifier', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" class="button mini pull-right">Éditer</a>
								{% endif %}
								{% if ROLE_ADMIN %}
								<a href="{{ path('ninja_tooken_thread_verrouiller', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" class="button mini pull-right">{% if thread.isCommentable %}Verrouiller{% else %}Déverouiller{% endif %}</a>
								<a href="{{ path('ninja_tooken_thread_postit', {forum_nom:forum.slug, thread_nom:thread.slug}) }}" class="button mini pull-right">Post-it</a>
								{% endif %}
							{% endif %}
							</p>
							{% if ROLE_ADMIN or (thread.isCommentable and is_granted("ROLE_USER")) %}
							    <form action="{{ path('ninja_tooken_comment_ajouter', {forum_nom:forum.slug, thread_nom:thread.slug, page:page}) }}" {{ form_enctype(form) }} method="POST" accept-charset="UTF-8" id="answer" class="full inset">
								<hr>
								{{ form_widget(form) }}
								<div>
									<input type="submit" value="Répondre" class="button">
								</div>
							    </form>
							{% endif %}
							{% if thread.numComments > 0 %}
							<hr>
							<section>
								<span class="comments">{{ thread.numComments }} commentaire{% if thread.numComments>1 %}s{% endif %}</span>
								{% include 'pagination.html.twig' with {
									currentPage: page,
									paginationPath: path('ninja_tooken_thread', {forum_nom: forum.slug, thread_nom:thread.slug, 'page': ''}),
									paginationAfter: '',
									lastPage: nombrePage,
									extremePagesLimit: 2,
									nearbyPagesLimit: 3
								} only %}
								{% for comment in comments %}
								<article itemprop="comment" itemscope itemtype="http://schema.org/UserComments" id="c{{ loop.index }}">
									<link itemprop="url" href="#c{{ loop.index }}">
									{{ render(controller('NinjaTookenGameBundle:Default:signature', {'user':comment.author})) }}
									<header>
										<time itemprop="commentTime" datetime="{{ comment.dateAjout|date("Y-m-d\\TH:i:sP") }}">Le {{ comment.dateAjout|localizeddate('medium', 'none', app.request.locale) }} à {{ comment.dateAjout|localizeddate('none', 'short', app.request.locale) }}</time>
									</header>
									<div class="content clearfix" itemprop="commentText">
										<p>{{ comment.body|raw|purify('full') }}</p>
									</div>
									{% if thread.isCommentable == true or ROLE_ADMIN %}
										<p class="clearfix">
										{% if is_granted("ROLE_USER") %}
											<a href="#" class="button mini pull-right answer">Répondre</a>
										{% endif %}
										{% if ROLE_ADMIN or comment.author == app.user %}
											<a href="{{ path('ninja_tooken_comment_supprimer', {forum_nom:forum.slug, thread_nom:thread.slug, comment_id:comment.id, page:page}) }}" class="button mini pull-right delete">Supprimer</a>
											<a href="{{ path('ninja_tooken_comment_modifier', {forum_nom:forum.slug, thread_nom:thread.slug, comment_id:comment.id, page:page}) }}" class="button mini pull-right">Éditer</a>
										{% endif %}
										</p>
									{% endif %}
								</article>
								{% endfor %}
								{% include 'pagination.html.twig' with {
									currentPage: page,
									paginationPath: path('ninja_tooken_thread', {forum_nom: forum.slug, thread_nom:thread.slug, 'page': ''}),
									paginationAfter: '',
									lastPage: nombrePage,
									extremePagesLimit: 2,
									nearbyPagesLimit: 3
								} only %}
							</section>
							{% endif %}
						</article>
					</div>
					<aside class="span4">
						<form action="{{ path('ninja_tooken_forum_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="Chercher" class="span10">
							<input type="submit" name="s" value="Ok !" class="span2">
							<input type="hidden" name="forum" value="{{ forum.slug }}">
						</form>

						{{ render(controller('NinjaTookenForumBundle:Default:recentComments', {'max': 10, 'forum': forum.id})) }}

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>Partenaires</h4>
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
						</section>
					</aside>
				</div>
{% endblock %}
