{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ forum.nom }}{% endblock %}
{% block description %}Les topics de "{{ forum.nom }}", c'est ici pour votre jeu fps de ninja gratuit.{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, {{ forum.nom }}, topic, message, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>  <i class="icon-angle-right"></i> 
                            {% if forum.clan is empty %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a>
							</span>
                            {% else %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">Clans</span>
								</a> <i class="icon-angle-right"></i>
							</span>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:forum.clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if forum.clan.tag is not empty %}[{{ forum.clan.tag }}] {% endif %}{{ forum.clan.nom }}</span>
								</a>
							</span>
                            {% endif %}
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}" itemprop="url">
									<span itemprop="title">{{ forum.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-notice">
                        {{ flashMessage }}
                        </div>
                    {% endfor %}
					{% if is_granted("ROLE_USER") and forum.clan is empty or (forum.clan and app.user.clan and app.user.clan.clan == forum.clan and app.user.clan.canEditClan == true or is_granted("ROLE_ADMIN")) %}<h4><a href="{{ path('ninja_tooken_thread_ajouter', {forum_nom:forum.slug}) }}" class="button pull-right">Nouveau topic</a></h4>{% endif %}<br class="clear">
					{% for thread in threads %}
					{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
					{% endfor %}
					{% include 'pagination.html.twig' with {
						currentPage: page,
						paginationPath: path('ninja_tooken_topic', {'forum_nom':forum.slug, 'page': ''}),
						paginationAfter: '',
						lastPage: nombrePage,
						extremePagesLimit: 2,
						nearbyPagesLimit: 3
					} only %}
				</section>
{% endblock %}
