{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ forum.nom }}{% endblock %}
{% block description %}{{ 'description.meta.threadList'|trans({'%forum%': forum.nom}) }}{% endblock %}
{% block keywords %}{{ forum.nom }}, {{ 'keywords.meta.threadList'|trans }}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span>  <i class="icon-angle-right"></i> 
                            {% if forum.clan is empty %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.forum'|trans({}, 'menu') }}</span>
								</a>
							</span>
                            {% else %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.clan'|trans({}, 'menu') }}</span>
								</a> <i class="icon-angle-right"></i>
							</span>
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:forum.clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if forum.clan.tag is not empty %}[{{ forum.clan.tag }}] {% endif %}{{ forum.clan.nom }}</span>
								</a>
							</span>
                            {% endif %}
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}" itemprop="url">
									<span itemprop="title">{{ forum.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					{% if is_granted("ROLE_USER") and forum.clan is empty or (forum.clan and app.user and app.user.clan and app.user.clan.clan == forum.clan and app.user.clan.canEditClan == true or is_granted("ROLE_ADMIN") or is_granted("ROLE_MODERATOR")) %}<h4><a href="{{ path('ninja_tooken_thread_ajouter', {forum_nom:forum.slug}) }}" class="button pull-right">{{ 'action.addTopic'|trans }}</a></h4>{% endif %}<br class="clear">
					{% for thread in threads %}
					{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
					{% endfor %}
					{% include 'pagination.html.twig' with {
						currentPage: page,
						paginationPath: path('ninja_tooken_topic', {'forum_nom':forum.slug, 'page': ''}),
						paginationAfter: '',
						lastPage: nombrePage,
						extremePagesLimit: 2,
						nearbyPagesLimit: 3
					} only %}
				</section>
{% endblock %}
