{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ forum.nom }}{% endblock %}
{% block description %}Les topics de "{{ forum.nom }}", c'est ici pour votre jeu fps de ninja gratuit.{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, {{ forum.nom }}, topic, message, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {topic_nom:forum.slug}) }}" itemprop="url">
									<span itemprop="title">{{ forum.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					<h4><a href="{{ path('ninja_tooken_topic_ajouter', {topic_nom:forum.slug}) }}" class="button pull-right">Nouveau topic</a></h4><br class="clear">
					{% for thread in threads %}
					{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
					{% endfor %}
					{% include 'pagination.html.twig' with {
						currentPage: page,
						paginationPath: path('ninja_tooken_topic', {'topic_nom':forum.slug, 'page': ''}),
						paginationAfter: '',
						lastPage: nombrePage,
						extremePagesLimit: 2,
						nearbyPagesLimit: 3
					} only %}
				</section>
{% endblock %}
