{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Forum{% endblock %}
{% block description %}NinjaTooken - jouer gratuitement{% endblock %}
{% block keywords %}NinjaTooken - jouer gratuitement{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_forum') }}" itemprop="url">
									<span itemprop="title">Forums</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_topic', {topic_nom:"test"}) }}" itemprop="url">
									<span itemprop="title">Nouveautés</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					<h4><a href="{{ path('ninja_tooken_topic_ajouter') }}" class="button pull-right">Nouveau topic</a>Nouveautés</h4>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin en plus long</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin en plus long</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin en plus long</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin en plus long</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="row-fluid topic">
						<div class="span6">
							<h5><a href="{{ path('ninja_tooken_message', {topic_nom:"test", message_nom:"test"}) }}">Pack Webmaster</a></h5>
						</div>
						<div class="span3">
							 <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
						<div class="span3">
							dernier par <a href="{{ path('ninja_tooken_user_fiche', {user_nom:"test"}) }}">2Kin</a>, le 5 février 2013 à 11:52
						</div>
					</div>
					<div class="pagination">
						<ul>
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</section>
{% endblock %}
