<a href="{{ path('ninja_tooken_user_fiche', {user_nom:recruteur.membre.slug}) }}" class="pull-left">
    <img src="{{ avatar.getUrl(recruteur.membre) }}" class="pull-left">
    {{ recruteur.membre.username }}<br>
    {{ clanStatut[recruteur.droit] }}
</a>
{% if showAdmin %}
    {% if recruteur.recruteur == app.user %}
        <a href="{{ path('ninja_tooken_clan_destituer', {'clan_nom':clan.slug,'user_nom':recruteur.membre.slug}) }}" class="button small pull-left delete">Destituer</a> 
    {% endif %}
    {% if app.user and app.user.clan and app.user.clan.droit > recruteur.membre.droit and app.user!=recruteur %}
        <a href="{{ path('ninja_tooken_clan_recruter_ajouter', {'user_nom':recruteur.membre.slug}) }}" class="button small pull-left">Recruter</a>
    {% endif %}
{% endif %}
<br class="clear">