{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken - {% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}{% endblock %}
{% block description %}{{ clan.description|raw|striptags|slice(0,255) }}{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, clan, {% if clan.tag is not empty %}{{ clan.tag }}, {% endif %}{{ clan.nom }}, team, équipe, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">Clans</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span8">
						{% for flashMessage in app.session.flashbag.get('notice') %}
						    <div class="flash-notice">
							{{ flashMessage }}
						    </div>
						{% endfor %}
						{# permet de définir un administrateur local pour les clan, ou le global #}
						{% set ROLE_ADMIN = is_granted("ROLE_ADMIN") or (forum.clan and app.user.clan and app.user.clan.clan == forum.clan and app.user.clan.canEditClan == true) %}
						{% set ROLE_SHISHOU = is_granted("ROLE_ADMIN") or (forum.clan and app.user.clan and app.user.clan.droit == 'Shishou') %}

						<div class="main clearfix">
							<h3 class="clearfix">Fondé le {{ clan.dateAjout|localizeddate('medium', 'none', app.request.locale) }}
                            {% if ROLE_SHISHOU %}<a href="{{ path('ninja_tooken_clan_supprimer', {clan_nom:clan.slug}) }}" class="button mini pull-right delete">Supprimer</a>{% endif %}
                            {% if ROLE_ADMIN %}<a href="{{ path('ninja_tooken_clan_modifier', {clan_nom:clan.slug}) }}" class="button mini pull-right">Éditer</a>{% endif %}</h3>
							<img src="{{ asset(clan.kamon) }}" class="pull-left clan">
							{{ clan.description|raw|purify('full') }}
							{%if clan.url is not empty %}Page perso : <a href="{{ clan.url }}" target="_blank">{{ clan.url }}</a>{% endif %}
						</div>
						<br class="clear">

						<div class="grade clearfix">
							<h3>Organisation du clan</h3>
							{% if membres is not empty %}
							<ul class="tree">
								<li>
                                    {% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':membres.recruteur, 'showAdmin':false} %}
								    {% if membres.recruts is not empty %}
                                    <ul>
								        {% for recruts in membres.recruts %}
                                        <li>
                                            {% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':recruts.recruteur, 'showAdmin':true} %}
                                            {% if recruts.recruts is not empty %}
                                            <ul>
                                                {% for recruts1 in recruts.recruts %}
                                                <li>
                                                    {% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':recruts1.recruteur, 'showAdmin':true} %}
                                                    {% if recruts1.recruts is not empty %}
                                                    <ul>
                                                        {% for recruts2 in recruts1.recruts %}
                                                        <li>{% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':recruts2.recruteur, 'showAdmin':true} %}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                            </ul>
							{% endif %}
						</div>

						{% if forum is not empty %}
						<div class="forum">
							<h4>
								{% if is_granted("ROLE_USER") and app.user.clan and app.user.clan.clan == clan and app.user.clan.canEditClan == true %}
									<a href="{{ path('ninja_tooken_thread_ajouter', {forum_nom:forum.slug}) }}" class="button pull-right">Nouveau topic</a>
								{% endif %}
								<a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}">{{ forum.nom }}</a>
							</h4>
							{% if forum.threads is not empty %}
							{% for thread in forum.threads %}
							{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
							{% endfor %}
							{% include 'pagination.html.twig' with {
								currentPage: page,
								paginationPath: path('ninja_tooken_clan', {'clan_nom':clan.slug,'page': ''}),
								paginationAfter: '',
								lastPage: nombrePage,
								extremePagesLimit: 2,
								nearbyPagesLimit: 3
							} only %}
							{% else %}
							<div class="row-fluid topic">
								<div class="span12"><h5>Pas de topic pour le moment.</h5></div>
							</div>
							{% endif %}
						</div>
						{% endif %}
					</section>

					<aside class="span4">
						<section>
							{% if membresListe is not empty %}
							<h3>Les membres</h3>
							{% for membre in membresListe %}
							<div class="membre pull-left">{% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':membre, 'showAdmin':false} %}</div>
                            {% endfor %}
							<br class="clear">
							{% endif %}
							{% if clan.isRecruting and is_granted('ROL_USER') and app.user.clan is empty %}<a href="#" class="button mini">Postuler</a>{% endif %}<br/><br/>
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>Partenaires</h4>
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
						</section>
					</aside>
				</div>
{% endblock %}
