{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}
{% import "kamon.html.twig" as kamon %}

{% block title %}NinjaTooken - {% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}{% endblock %}
{% block description %}{{ clan.description|raw|striptags|slice(0,255) }}{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, clan, {% if clan.tag is not empty %}{{ clan.tag }}, {% endif %}{{ clan.nom }}, team, équipe, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.clan'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span8">
						{# permet de définir un administrateur local pour les clan, ou le global #}
						{% set ROLE_CLAN = is_granted("ROLE_USER") and app.user.clan and app.user.clan.clan == clan %}
						{% set ROLE_ADMIN = is_granted("ROLE_ADMIN") or is_granted("ROLE_MODERATOR") or (ROLE_CLAN and app.user.clan.canEditClan == true) %}
						{% set ROLE_SHISHOU = ROLE_CLAN and app.user.clan.droit == 0 %}

						<div class="main clearfix">
							<h3 class="clearfix">
                                {{ 'description.fonde'|trans({'%date%': clan.dateAjout|localizeddate('medium', 'none', app.request.locale)}) }}
								{% if ROLE_ADMIN or ROLE_SHISHOU %}<a href="{{ path('ninja_tooken_clan_supprimer', {clan_nom:clan.slug}) }}" class="button mini pull-right delete">{{ 'action.supprimer'|trans({}, 'common') }}</a>{% endif %}
								{% if ROLE_ADMIN or ROLE_SHISHOU %}<a href="{{ path('ninja_tooken_clan_modifier', {clan_nom:clan.slug}) }}" class="button mini pull-right">{{ 'action.editer'|trans({}, 'common') }}</a>{% endif %}
							</h3>
							<img src="{{ kamon.getUrl(clan) }}" class="pull-left clan">
							{{ clan.description|raw|purify('full') }}
							{%if clan.url is not empty %}{{ 'description.perso'|trans }} <a href="{{ clan.url }}" target="_blank">{{ clan.url }}</a>{% endif %}
						</div>
						<br class="clear">

						<div class="grade clearfix">
							<h3>{{ 'description.organisation'|trans }}
								{% if ROLE_CLAN %}<a href="{{ path('ninja_tooken_clan_destituer', {user_nom:app.user.slug}) }}" class="button mini pull-right delete">{{ 'action.quitter'|trans }}</a>{% endif %}
							</h3>
							{% if membres is not empty %}
							<ul class="tree">
								<li>
									{% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':membres.recruteur, 'showAdmin':false} %}
									{% if membres.recruts is not empty %}
									<ul>
										{% for recruts in membres.recruts %}
										<li>
											{% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':recruts.recruteur, 'showAdmin':true} %}
											{% if recruts.recruts is not empty %}
											<ul>
												{% for recruts1 in recruts.recruts %}
												<li>
													{% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':recruts1.recruteur, 'showAdmin':true} %}
													{% if recruts1.recruts is not empty %}
													<ul>
														{% for recruts2 in recruts1.recruts %}
														<li>{% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':recruts2.recruteur, 'showAdmin':true, 'ROLE_SHISHOU':ROLE_SHISHOU} %}</li>
														{% endfor %}
													</ul>
													{% endif %}
												</li>
												{% endfor %}
											</ul>
											{% endif %}
										</li>
									{% endfor %}
									</ul>
									{% endif %}
								</li>
							</ul>
							{% endif %}
						</div>
						<br class="clear">

						{% if forum is not empty %}
						<hr>
						<div class="forum">
							<h4 class="pull-left"><a href="{{ path('ninja_tooken_topic', {forum_nom:forum.slug}) }}">{{ forum.nom }}</a></h4>
							<span class="numComments"><i class="icon-comment"></i> {{ 'forum.numThread'|transchoice(forum.numThreads) }}</span>
							{% if (ROLE_CLAN and app.user.clan.canEditClan == true)  or is_granted("ROLE_ADMIN") or is_granted("ROLE_MODERATOR") %}
								<a href="{{ path('ninja_tooken_thread_ajouter', {forum_nom:forum.slug}) }}" class="button pull-right">{{ 'forum.newThread'|trans }}</a>
							{% endif %}
							<br class="clear">
							{% if forum.threads is not empty %}
								{% for thread in forum.threads %}
									{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
								{% endfor %}
							{% else %}
							<div class="row-fluid topic">
								<div class="span12"><h5>{{ 'forum.noThread'|trans }}</h5></div>
							</div>
							{% endif %}
						</div>
						{% endif %}
					</section>

					<aside class="span4">
						<section>
							{% if membresListe is not empty %}
							<h3>{{ 'description.membres'|trans }}</h3>
							{% for membre in membresListe %}
							<div class="membre pull-left">{% include "NinjaTookenClanBundle:Default:clan.membre.html.twig" with {'recruteur':membre, 'showAdmin':false} %}</div>
							{% endfor %}
							<br class="clear">
							{% endif %}
							{% if clan.isRecruting and ROLE_CLAN == false %}<a href="{{ path('ninja_tooken_clan_postuler', {'clan_nom': clan.slug}) }}" class="button mini">{{ 'action.postuler'|trans }}</a>{% endif %}<br/><br/>
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}
                        {% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
