{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken - {% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }} - recrutements{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.clan'|trans({}, 'menu') }}</span>
								</a>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan_recruter') }}" itemprop="url">
									<span itemprop="title">{{ 'action.recrutement'|trans }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid main">
					<section class="span8">
						{% for flashMessage in app.session.flashbag.get('notice') %}
						    <div class="flash-notice">
							{{ flashMessage }}
						    </div>
						{% endfor %}
						{% if app.user.clan.droit<3 %}
							<h3>{{ 'description.recrutement.liste'|trans }}</h3>
							{% if recrutements %}
								{% for recrutement in recrutements %}
									<div class="row-fluid">
										<div class="span2">{% if recrutement.etat == 0 %}<i class="icon-time"></i>{% elseif recrutement.etat == 1 %}<i class="icon-thumbs-up"></i>{% elseif recrutement.etat==2 %}<i class="icon-thumbs-down"></i>{% endif %} {{ ('recrutement.etat' ~ recrutement.etat)|trans({}, 'game') }}</strong></div>
										<div class="span3"><a href="{{ path('ninja_tooken_user_fiche', {'user_nom' : recrutement.postulant.slug}) }}">{{ recrutement.postulant.username }}</a></div>
										<div class="span5">
											{% if recrutement.etat == 0 %}
											{{ recrutement.dateAjout|localizeddate('full', 'none', app.request.locale) }} à {{ recrutement.dateAjout|localizeddate('none', 'short', app.request.locale) }}
											{% else %}
											{{ recrutement.dateChangementEtat|localizeddate('full', 'none', app.request.locale) }} à {{ recrutement.dateChangementEtat|localizeddate('none', 'short', app.request.locale) }}
											{% endif %}
										</div>
										<div class="span2"><a href="{{ path('ninja_tooken_clan_recruter_supprimer', {'user_nom' : recrutement.postulant.slug}) }}" class="button small{% if recrutement.etat==0 %} delete{% endif %}">{{ 'action.annuler'|trans }}</a></div>
									</div>
								{% endfor %}
							{% else %}
							{{ 'description.recrutement.listeVide'|trans }}<br><br>
							{% endif %}
						{% endif %}
						<h3>{{ 'description.recrutement.proposition'|trans }}</h3>
						{% if propositions %}
							{% for proposition in propositions %}
								<div class="row-fluid">
									<div class="span2">{% if proposition.etat == 0 %}<i class="icon-time"></i>{% elseif  proposition.etat == 1 %}<i class="icon-thumbs-up"></i>{% elseif proposition.etat==2 %}<i class="icon-thumbs-down"></i>{% endif %} {{ ('recrutement.etat' ~ proposition.etat)|trans({}, 'game') }}</strong></div>
									<div class="span3"><a href="{{ path('ninja_tooken_user_fiche', {'user_nom' : proposition.recruteur.slug}) }}">{{ proposition.recruteur.username }}</a></div>
									<div class="span5">
										{% if proposition.etat == 0 %}
											{{ proposition.dateAjout|localizeddate('full', 'none', app.request.locale) }} à {{ proposition.dateAjout|localizeddate('none', 'short', app.request.locale) }}
										{% else %}
											{{ proposition.dateChangementEtat|localizeddate('full', 'none', app.request.locale) }} à {{ proposition.dateChangementEtat|localizeddate('none', 'short', app.request.locale) }}
										{% endif %}
									</div>
									<div class="span2"><a href="{{ path('ninja_tooken_clan_recruter_accepter', {'user_nom' : app.user.slug, 'recruteur_nom' : proposition.recruteur.slug}) }}" class="button small delete">{{ 'action.accepter'|trans }}</a> <a href="{{ path('ninja_tooken_clan_recruter_refuser', {'user_nom' : app.user.slug, 'recruteur_nom' : proposition.recruteur.slug}) }}" class="button small delete">{{ 'action.refuser'|trans }}</a></div>
								</div>
							{% endfor %}
						{% else %}
							{{ 'description.recrutement.propositionVide'|trans }}
						{% endif %}
					</section>

					<aside class="span4">
						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
					</aside>
				</div>
{% endblock %}
