<a href="{{ path('ninja_tooken_user_fiche', {user_nom:recruteur.membre.slug}) }}" class="pull-left">
    <img src="{{ avatar.getUrl(recruteur.membre) }}" class="pull-left">
    {{ recruteur.membre.username }}<br>
    {{ ('clan.rang' ~ recruteur.droit)|trans({}, 'game') }}
</a>
{% if showAdmin %}
    {% if is_granted('ROLE_USER') and recruteur.recruteur == app.user %}
        <a href="{{ path('ninja_tooken_clan_destituer', {'user_nom':recruteur.membre.slug}) }}" class="button small pull-right delete">{{ 'action.destituer'|trans }}</a> 
    {% endif %}
    {% if is_granted('ROLE_USER') and app.user.clan and app.user.clan.droit < recruteur.droit and app.user!=recruteur.recruteur %}
        <a href="{{ path('ninja_tooken_clan_recruter_ajouter', {'user_nom':recruteur.membre.slug}) }}" class="button small pull-right">{{ 'action.recruter'|trans }}</a>
    {% endif %}
    {% if ROLE_SHISHOU %}
	<a href="{{ path('ninja_tooken_clan_editer_switch', {'user_nom':recruteur.membre.slug}) }}" class="button small pull-left">{% if recruteur.canEditClan %}{{ 'action.interdireEdit'|trans }}{% else %}{{ 'action.autoriserEdit'|trans }}{% endif %}</a>
	<br><a href="{{ path('ninja_tooken_clan_destituer_shishou', {'user_nom':recruteur.membre.slug}) }}" class="button small pull-left delete">{{ 'action.promouvoir'|trans }}</a>
    {% endif %}
{% endif %}
<br class="clear">