{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken - {% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}{% endblock %}
{% block description %}{{ clan.description|raw|striptags|slice(0,255) }}{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, clan, {% if clan.tag is not empty %}{{ clan.tag }}, {% endif %}{{ clan.nom }}, team, équipe, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">Clans</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}" itemprop="url">
									<span itemprop="title">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<div class="row-fluid">
					<section class="span8">
						<div class="main clearfix">
							<h3>Fondé le {{ clan.dateAjout|localizeddate('medium', 'none', app.request.locale) }}</h3>
							<img src="{{ asset('bundles/ninjatookenclan/kamon/' ~ clan.kamon) }}" class="pull-left clan">
							{{ clan.description|raw|purify('full') }}
							{%if clan.url is not empty %}Page perso : <a href="{{ clan.url }}" target="_blank">{{ clan.url }}</a>{% endif %}
						</div>
						<br class="clear">

						<div class="grade clearfix">
							<h3>Organisation du clan</h3>
							{% if membres is not empty %}
							<ul class="col{{ membres.recruts|length }}">
								<li class="first"><a href="{{ path('ninja_tooken_user_fiche', {user_nom:membres.recruteur.membre.slug}) }}"><img src="{{ avatar.getUrl(membres.recruteur.membre) }}" class="pull-left"> {{ membres.recruteur.membre.username }}<br>{{ membres.recruteur.droit }}</a></li>
								{% if membres.recruts is not empty %}
								{% for recruts in membres.recruts %}
								<li><a href="{{ path('ninja_tooken_user_fiche', {user_nom:recruts.recruteur.membre.slug}) }}"><img src="{{ avatar.getUrl(recruts.recruteur.membre) }}" class="pull-left"> {{ recruts.recruteur.membre.username }}<br>{{ recruts.recruteur.droit }}</a>
									{% if recruts.recruts is not empty %}
									<ul>
									{% for recruts1 in recruts.recruts %}
										<li><a href="{{ path('ninja_tooken_user_fiche', {user_nom:recruts1.recruteur.membre.slug}) }}"><img src="{{ avatar.getUrl(recruts1.recruteur.membre) }}" class="pull-left"> {{ recruts1.recruteur.membre.username }}<br>{{ recruts1.recruteur.droit }}</a></li>
										{% if recruts1.recruts is not empty %}
										<ul>
										{% for recruts2 in recruts1.recruts %}
											<li><a href="{{ path('ninja_tooken_user_fiche', {user_nom:recruts2.recruteur.membre.slug}) }}"><img src="{{ avatar.getUrl(recruts2.recruteur.membre) }}" class="pull-left"> {{ recruts2.recruteur.membre.username }}<br>{{ recruts2.recruteur.droit }}</a></li>
										{% endfor %}
										</ul>
										{% endif %}
									{% endfor %}
									</ul>
									{% endif %}
								</li>
								{% endfor %}
								{% endif %}
							</ul>
							{% endif %}
						</div>

						{% if forum is not empty %}
						<div class="forum">
							<h4>
								{% if is_granted("ROLE_USER") and app.user.clan and app.user.clan.clan == clan and app.user.clan.canEditClan == true %}
									<a href="{{ path('ninja_tooken_topic_ajouter', {topic_nom:forum.slug}) }}" class="button pull-right">Nouveau topic</a>
								{% endif %}
								<a href="{{ path('ninja_tooken_topic', {topic_nom:forum.slug}) }}">{{ forum.nom }}</a>
							</h4>
							{% if forum.threads is not empty %}
							{% for thread in forum.threads %}
							{% include 'NinjaTookenForumBundle:Default:topicListe.html.twig' %}
							{% endfor %}
							{% include 'pagination.html.twig' with {
								currentPage: page,
								paginationPath: path('ninja_tooken_clan', {'clan_nom':clan.slug,'page': ''}),
								paginationAfter: '',
								lastPage: nombrePage,
								extremePagesLimit: 2,
								nearbyPagesLimit: 3
							} only %}
							{% else %}
							<div class="row-fluid topic">
								<div class="span12"><h5>Pas de topic pour le moment.</h5></div>
							</div>
							{% endif %}
						</div>
						{% endif %}
					</section>

					<aside class="span4">
						<section>
							{% if membresListe is not empty %}
							<h3>Les membres</h3>
							{% for membre in membresListe %}
							<div class="membre pull-left">
								<a href="{{ path('ninja_tooken_user_fiche', {user_nom:membre.membre.slug}) }}"><img src="{{ avatar.getUrl(membre.membre) }}">{{ membre.membre.username }}, {{ membre.droit }}</a>
							</div>
							{% endfor %}
							<br class="clear">
							{% endif %}
							<a href="#" class="button mini">Postuler</a><br/><br/>
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>Partenaires</h4>
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
						</section>
					</aside>
				</div>
{% endblock %}
