							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>
							<div class="dernier">
								<span>
									<img src="{{ asset('bundles/ninjatookencommon/images/kamon.png') }}" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">[NTT] Ninja Tooken Team</a>
								</span>
								<time datetime="2013-02-05T11:52:02+02:00">le 5 février 2013 à 11:52</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:'test'}) }}">C'est à la nuit tombée que sortent les vrais ninjas... </a></h5>
							</div>