{% extends '::layout.html.twig' %}
{% import "kamon.html.twig" as kamon %}

{% block title %}NinjaTooken - {{ 'menu.clan'|trans({}, 'menu') }}{% endblock %}
{% block description %}{{ 'description.meta'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.meta'|trans }}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.clan'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
                <div class="row-fluid">
					<div class="span8">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash-notice">
                            {{ flashMessage }}
                            </div>
                        {% endfor %}

						<p class="filtre">
							Classer par
							<label class="select">
								<select name="clan">
									<option value="composition"{% if order == "composition" %} selected{% endif %}>{{ 'filtre.composition'|trans }}</option>
									<option value="experience"{% if order == "experience" %} selected{% endif %}>{{ 'filtre.experience'|trans }}</option>
									<option value="ninja"{% if order == "ninja" %} selected{% endif %}>{{ 'filtre.nombre'|trans }}</option>
									<option value="date"{% if order == "date" %} selected{% endif %}>{{ 'filtre.date'|trans }}</option>
								</select>
							</label>

                            {% if is_granted('ROLE_USER') and app.user.clan is empty %}<a href="{{ path('ninja_tooken_clan_ajouter') }}" class="button mini pull-right">{{ 'action.fonder'|trans }}</a>{% endif %}
						</p>
						<div class="row-fluid">
						{% for clan in clans %}
							{% set clan = clan[0] %}

							<div class="span6">
								<article class="news clan" itemscope itemtype="http://schema.org/Article">
									<header>
										<img src="{{ kamon.getUrl(clan) }}" class="pull-left clan" alt="">
										<h3><a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</a><br>
										<span>{{ 'description.entete'|transchoice(clan.membres.count, {'%date%': clan.dateAjout|localizeddate('medium', 'none', app.request.locale)}) }}</span></h3>
										{% if clan.isRecruting %}<span class="actif">{{ 'description.recrutement.ouvert'|trans }}</span>{% else %}<span>{{ 'description.recrutement.ferme'|trans }}</span>{% endif %}
									</header>
									<div class="content">
										<p>{% if clan.accroche is not empty %}{{ clan.accroche }}{% else %}{{ clan.description|raw|purify('medium') }}{% endif %}</p>
									</div>
									<footer>
										<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}"class="pull-right">{{ 'action.page'|trans }} &raquo;</a>
									</footer>
								</article>
							</div>
						{% if loop.index is divisibleby(2) and not loop.last %}
						</div>
						<div class="row-fluid">
						{% endif %}
						{% endfor %}
						</div>
						{% include 'pagination.html.twig' with {
							currentPage: page,
							paginationPath: path('ninja_tooken_clans', {'page': ''}),
							paginationAfter: '?order=' ~ order,
							lastPage: nombrePage,
							extremePagesLimit: 2,
							nearbyPagesLimit: 3
						} only %}
					</div>
					<aside class="span4">
						<form action="{{ path('ninja_tooken_clan_search', {page:1}) }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="{{ 'action.chercher'|trans({}, 'common') }}" class="span10">
							<input type="submit" name="s" value="{{ 'action.ok'|trans({}, 'common') }}" class="span2">
						</form>

						<section>
							<h4>{{ 'description.dernier'|trans }}</h4>
							{% for clan in lastClans %}
								{% set clan = clan[0] %}
							<div class="dernier">
								<span>
									<img src="{{ kamon.getUrl(clan) }}" class="pull-left clan" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</a>
								</span>
								<time datetime="{{ clan.dateAjout|date("Y-m-d\\TH:i:sP") }}">{{ 'description.creation'|trans({'%date%': clan.dateAjout|localizeddate('medium', 'none', app.request.locale)}) }}</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}">{{ clan.description|raw|striptags|slice(0, 50) }}</a></h5>
							</div>
							{% endfor %}
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>{{ 'description.partenaire'|trans }}</h4>
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
						</section>
					</aside>
				</div>
{% endblock %}
