{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Clans{% endblock %}
{% block description %}Quel est le clan de ninja le plus puissant de Ninjatooken ? Créé un clan, recrute des joueurs, défies les meilleurs et augmente ta renommée!{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, clan, team, équipe, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">Communauté</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">Clans</span>
								</a>
							</span>
{% endblock %}

{% block body %}
                <div class="row-fluid">
					<div class="span8">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash-notice">
                            {{ flashMessage }}
                            </div>
                        {% endfor %}

						<p class="filtre">
							Classer par
							<label class="select">
								<select name="clan">
									<option value="composition"{% if order == "composition" %} selected{% endif %}>composition</option>
									<option value="experience"{% if order == "experience" %} selected{% endif %}>moyenne d'expérience</option>
									<option value="ninja"{% if order == "ninja" %} selected{% endif %}>nombre de ninja</option>
									<option value="date"{% if order == "date" %} selected{% endif %}>date d'ajout</option>
								</select>
							</label>

                            {% if is_granted('ROLE_USER') and app.user.clan is empty %}<a href="{{ path('ninja_tooken_clan_ajouter') }}" class="button mini pull-right">Fonder un clan</a>{% endif %}
						</p>
						<div class="row-fluid">
						{% for clan in clans %}
							{% set clan = clan[0] %}

							<div class="span6">
								<article class="news clan" itemscope itemtype="http://schema.org/Article">
									<header>
										<img src="{{ asset(clan.kamon) }}" class="pull-left clan" alt="">
										<h3><a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</a><br>
										<span>{{ clan.membres.count }} ninja{% if clan.membres.count>1 %}s{% endif %} depuis le {{ clan.dateAjout|localizeddate('medium', 'none', app.request.locale) }}</span></h3>
										{% if clan.isRecruting %}<span class="actif">recrutements ouverts</span>{% else %}<span>recrutements fermés</span>{% endif %}
									</header>
									<div class="content">
										<p>{% if clan.accroche is not empty %}{{ clan.accroche }}{% else %}{{ clan.description|raw|purify('medium') }}{% endif %}</p>
									</div>
									<footer>
										<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}"class="pull-right">Page du clan &raquo;</a>
									</footer>
								</article>
							</div>
						{% if loop.index is divisibleby(2) and not loop.last %}
						</div>
						<div class="row-fluid">
						{% endif %}
						{% endfor %}
						</div>
						{% include 'pagination.html.twig' with {
							currentPage: page,
							paginationPath: path('ninja_tooken_clans', {'page': ''}),
							paginationAfter: '?order=' ~ order,
							lastPage: nombrePage,
							extremePagesLimit: 2,
							nearbyPagesLimit: 3
						} only %}
					</div>
					<aside class="span4">
						<form action="{{ path('ninja_tooken_clan_search', {page:1}) }}" method="post" accept-charset="utf-8" class="row-fluid">
							<input type="text" name="q" value="Chercher" class="span10">
							<input type="submit" name="s" value="Ok !" class="span2">
						</form>

						<section>
							<h4>Derniers clans</h4>
							{% for clan in lastClans %}
								{% set clan = clan[0] %}
							<div class="dernier">
								<span>
									<img src="{{ asset(clan.kamon) }}" class="pull-left clan" alt="">
									<a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</a>
								</span>
								<time datetime="{{ clan.dateAjout|date("Y-m-d\\TH:i:sP") }}">le {{ clan.dateAjout|localizeddate('medium', 'none', app.request.locale) }}</time><br>
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}">{{ clan.description|raw|striptags|slice(0, 50) }}</a></h5>
							</div>
							{% endfor %}
						</section>

						{% include 'NinjaTookenCommonBundle:Default:pubAside.html.twig' %}

						<section>
							<h4>Partenaires</h4>
							{% include 'NinjaTookenCommonBundle:Default:partenaires.html.twig' %}
						</section>
					</aside>
				</div>
{% endblock %}
