{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Recherche de clan{% endblock %}
{% block description %}Quel est le clan de ninja le plus puissant de Ninjatooken ? Créé un clan et fais-en le meilleur du jeu !{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, clan, team, équipe, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.communaute'|trans({}, 'menu') }}</span>
							</span>  <i class="icon-angle-right"></i> 
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clans') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.clan'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_clan_search') }}" itemprop="url">
									<span itemprop="title">{{ 'action.chercher'|trans({}, 'common') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="forum">
					<h4>{{ 'action.chercherResult'|trans({}, 'common') }}</h4>
					<br class="clear">
					{% if clans is not empty %}
					<p>{{ 'description.chercher'|transchoice(clans|length, {'%q%': app.request.get('q')}) }}</p>
						{% for clan in clans %}
						<div class="row-fluid topic">
							<div class="span6">
								<h5><a href="{{ path('ninja_tooken_clan', {clan_nom:clan.slug}) }}">{% if clan.tag is not empty %}[{{ clan.tag }}] {% endif %}{{ clan.nom }}</a></h5>
							</div>
							<div class="span3">
								<span>{{ 'description.entete'|transchoice(clan.membres.count, {'%date%': clan.dateAjout|localizeddate('medium', 'none', app.request.locale)}) }}</span>
							</div>
							<div class="span3">
								{% if clan.isRecruting %}<span class="actif">{{ 'description.recrutement.ouvert'|trans }}</span>{% else %}<span>{{ 'description.recrutement.ferme'|trans }}</span>{% endif %}
							</div>
						</div>
						{% endfor %}
					{% else %}
					{{ 'description.noResult'|trans({}, 'common') }}
					{% endif %}
					<br class="clear">
					<h4>{{ 'action.chercherReset'|trans({}, 'common') }}</h4>
					<form action="{{ path('ninja_tooken_clan_search') }}" method="post" accept-charset="utf-8" class="row-fluid">
						<input type="text" name="q" value="{{ 'action.chercher'|trans({}, 'common') }}" class="span10">
						<input type="submit" name="s" value="{{ 'action.ok'|trans({}, 'common') }}" class="span2">
					</form>
				</section>
{% endblock %}
