{% import "avatar.html.twig" as avatar %}
			{% if comments is not empty %}
						<section>
							<h4>Derniers messages</h4>
			{% for comment in comments %}
							<div class="dernier" itemscope itemtype="http://schema.org/UserComments">
								<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
									<img src="{{ avatar.getUrl(comment.author) }}" itemprop="image" class="pull-left" alt="">
									<a href="{{ path('ninja_tooken_user_fiche', {user_nom:comment.author.slug}) }}" rel="author" itemprop="url">
										<span itemprop="name">{{ comment.author.username }}</span>
									</a>
								</span>
								<time itemprop="startDate" datetime="{{ comment.dateAjout|date("Y-m-d\\TH:i:sP") }}">le {{ comment.dateAjout|localizeddate('medium', 'none', app.request.locale) }} à {{ comment.dateAjout|localizeddate('none', 'short', app.request.locale) }}</time><br>
								<h5><a href="{{ path('ninja_tooken_message', {topic_nom:comment.thread.forum.slug, message_nom:comment.thread.slug}) }}" itemprop="replyToUrl"><span itemprop="name">{{ comment.thread.nom }}</span></a></h5>
							</div>
			{% endfor %}
						</section>
			{% endif %}