{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - Calculateur{% endblock %}
{% block description %}Le calculateur de jutsu permet de connaitre pour chaque jutsu et selon le nombre de points appliqués, les dégâts et effets.{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, calculateur, jutsu, compétence, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_game_calculateur') }}" itemprop="url">
									<span itemprop="title">Calculateur jutsus</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="main">
                    <form class="full" name="calculateur" method="post" action="#">
                        <h3>Capacités</h3>
			{% for key, capacite in capacites %}
                        <div class="row-fluid">
                            <div class="span3"><label class="libelle">{{ capacite.nom }}</label></div>
                            <div class="span2">
                                <label class="select">
                                    <select name="capacite" data-id="{{ key }}" data-json="{{ capacite.xml }}">
                                    {% for i in 1..100 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="span7"><span class="result" data-id="{{ key }}"></span></div>
                        </div>
                        {% endfor %}

                        <h3>Jutsus</h3>
			{% for key, aptitude in aptitudes %}
                        <div class="row-fluid">
                            <div class="span3"><label class="libelle">{{ aptitude.nom }}</label></div>
                            <div class="span2">
                                <label class="select">
                                    <select name="aptitude" data-id="{{ key }}" data-json="{{ aptitude.xml }}" data-attr="{{ aptitude.values }}">
                                    {% for i in 1..30 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="span7"><span class="result" data-id="{{ key }}"></span></div>
                        </div>
                        {% endfor %}
                    </form>
                </section>
{% endblock %}
