{% extends '::layout.html.twig' %}

{% block title %}NinjaTooken - {{ 'menu.calculateur'|trans({}, 'menu') }}{% endblock %}
{% block description %}{{ 'description.meta.calculateur'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.meta.calculateur'|trans }}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.manuel'|trans({}, 'menu') }}</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_game_calculateur') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.calculateur'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="main">
                    <form class="full" name="calculateur" method="post" action="#">
                        <div class="row-fluid">
                            <div class="span3"><label class="libelle">{{ 'calculateur.classe'|trans }}</label></div>
                            <div class="span9">
                                <label class="select">
                                    <select name="calculateurLimit">
                                        {% for k, v in classes %}
                                        <option value="{{ v|lower }}" class="{{ v|lower }}"{% if v|lower == classe %} selected{% endif %}>{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3"><label class="libelle">{{ 'calculateur.niveau'|trans }}</label></div>
                            <div class="span2">
                                <label class="select">
                                    <select name="calculateurLevel" data-aptitude="{{ levelUp.aptitude }}" data-capacite="{{ levelUp.capacite }}">
                                    {% for i in 0..100 %}
                                        <option value="{{ i }}"{% if i == level %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="span7">
                                {{ 'calculateur.ptsCapacite'|trans }} <strong><span class="result" data-id="ptsCapacite"></span></strong><br>
                                {{ 'calculateur.ptsAptitude'|trans }} <strong><span class="result" data-id="ptsAptitude"></span></strong>
                            </div>
                        </div>
                        
                        <h3>Capacités</h3>
			            {% for key, capacite in capacites %}
                        <div class="row-fluid calculateur-capacite">
                            <div class="span3"><label class="libelle">{{ capacite.nom }}</label></div>
                            <div class="span2">
                                <label class="select">
                                    <select name="capacite" data-id="{{ key }}" data-json="{{ capacite.xml }}">
                                    {% for i in 0..100 %}
                                        <option value="{{ i }}"{% if i == capacite.current %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="span7"><span class="result" data-id="{{ key }}"></span></div>
                        </div>
                        {% endfor %}

                        <div class="row-fluid">
                            <div class="span9 offset3">{{ 'calculateur.ptsRestants'|trans }} <strong><span class="result" data-id="total-capacites"></span></strong></div>
                        </div>

                        <h3>Jutsus</h3>
			            {% for key, aptitude in aptitudes %}
                        <div class="row-fluid calculateur-jutsu" data-limit="{{ aptitude.limit }}" data-niveau="{{ aptitude.niveau }}">
                            <div class="span3"><label class="libelle {{ aptitude.limit }}">{{ aptitude.nom }}</label></div>
                            <div class="span2">
                                <label class="select">
                                    <select name="aptitude" data-id="{{ key }}" data-json="{{ aptitude.xml }}" data-attr="{{ aptitude.values }}">
                                    {% for i in 0..30 %}
                                        <option value="{{ i }}"{% if i == aptitude.current %} selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="span7"><span class="result" data-id="{{ key }}"></span></div>
                        </div>
                        {% endfor %}

                        <div class="row-fluid">
                            <div class="span9 offset3">{{ 'calculateur.ptsRestants'|trans }} <strong><span class="result" data-id="total-aptitudes"></span></strong></div>
                        </div>
                    </form>
                </section>
{% endblock %}
