{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken - Parties en cours{% endblock %}
{% block description %}Les parties actuellement jouées dans NinjaTooken sont directement accessible ici !{% endblock %}
{% block keywords %}NinjaTooken, shinobi, ninja, partie, actuel, fps, gratuit, online, free{% endblock %}

{% block breadcrumbs1 %}{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_game_parties') }}" itemprop="url">
									<span itemprop="title">Parties en cours</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="main">
				{% if games is not empty %}
					{% for game in games %}
					<h3>{{ carte[game.carte] }} #{{ game.partie }}</h3>
					<p>{% if game.privee %}<i class="icon-lock"></i> {% endif %}Partie "{{ jeu[game.jeu] }}", version {{ game.version }}</p>

					{% for user in game.users %}
					<div class="membre pull-left">
						<a href="{{ path('ninja_tooken_user_fiche', {user_nom:user.slug}) }}"><img src="{{ avatar.getUrl(user) }}">{{ user.username }}</a>
					</div>
					{% endfor %}

					<br class="clear">
					{% endfor %}
				{% else %}
					Pas de partie enregistrée en base pour l'instant.
					<br class="clear">
				{% endif %}
				</section>
{% endblock %}
