{% extends '::layout.html.twig' %}
{% import "avatar.html.twig" as avatar %}

{% block title %}NinjaTooken - {{ 'menu.partie'|trans({}, 'menu') }}{% endblock %}
{% block description %}{{ 'description.meta.partie'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.meta.partie'|trans }}{% endblock %}

{% block breadcrumbs1 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<span itemprop="title">{{ 'menu.jeu'|trans({}, 'menu') }}</span>
							</span>
{% endblock %}

{% block breadcrumbs2 %}
							<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
								<a href="{{ path('ninja_tooken_game_parties') }}" itemprop="url">
									<span itemprop="title">{{ 'menu.partie'|trans({}, 'menu') }}</span>
								</a>
							</span>
{% endblock %}

{% block body %}
				<section class="main">
				{% if games is not empty %}
					{% for game in games %}
					<h3>{{ ('carte.type' ~ game.carte)|trans({}, 'game') }} #{{ game.partie }}</h3>
					<p>{% if game.privee %}<i class="icon-lock"></i> {% endif %}{{ 'description.partie'|trans({'%type%': ('jeu.type' ~ game.jeu)|trans({}, 'game'), '%version%': game.version}) }}</p>

					{% for user in game.users %}
					<div class="membre pull-left">
						<a href="{{ path('ninja_tooken_user_fiche', {user_nom:user.slug}) }}"><img src="{{ avatar.getUrl(user) }}">{{ user.username }}</a>
					</div>
					{% endfor %}

					<br class="clear">
					{% endfor %}
				{% else %}
					{{ 'description.noPartie'|trans }}
					<br class="clear">
				{% endif %}
				</section>
{% endblock %}
