{% import "avatar.html.twig" as avatar %}
{% set is_admin = false %}
{% set is_moderator = false %}
{% for role in user.getRoles() %} 
	{% if role == 'ROLE_ADMIN' or role == 'ROLE_SUPER_ADMIN' %}
		{% set is_admin = true %}
	{% elseif role == 'ROLE_MODERATOR' %}
		{% set is_moderator = true %}
	{% endif %}
{% endfor %}
<div class="signature{% if is_admin %} admin{% elseif is_moderator %} moderateur{% endif %}" itemprop="creator" itemscope itemtype="http://schema.org/Person">
	<div class="row-fluid">
		<div class="resume span5">
			<img src="{{ avatar.getUrl(user) }}" itemprop="image" class="pull-left" alt="">
			<a href="{{ path('ninja_tooken_user_fiche', {user_nom:user.slug}) }}" rel="author" itemprop="url"><span itemprop="name">{{ user.username }}</span></a><br>
		{% if user.ninja is not empty and user.ninja is defined %}
			{% if user.ninja.classe is not empty %}<span class="{{ ('class.' ~ user.ninja.classe)|trans({}, 'game')|lower }}">{{ ('class.' ~ user.ninja.classe)|trans({}, 'game') }}</span>{% endif %}{% if user.ninja.grade>0 %} - <span itemprop="award">{{ user.ninja.grade }}° dan</span>{% endif %}
		{% endif %}
		</div>
		{% if user.ninja is not empty and user.ninja is defined %}
		<div class="span7">
			<div class="row-fluid">
				<div class="experience span7">
					<div class="xp">
						lvl.{{ user.level }}<span class="pull-right">{{ user.ninja.experience|number_format(0, '', '.') }} xp</span>
					</div>
					<div class="barre"><div class="complete" style="width:{{ '%.2f'|format(user.ratio) }}%"></div></div>
				</div>
				<div class="nfo right span5">
					<strong>{{ user.classement }}°</strong> {{ 'description.position'|trans({'%count%': user.total}) }}
				</div>
			</div>
			{% if user.ninja.jutsuAcierRenforce>0 %}<i class="jutsu acierRenforce"></i>{% endif %}
			{% if user.ninja.jutsuChakraVie>0 %}<i class="jutsu chakraVie"></i>{% endif %}
			{% if user.ninja.jutsuMarcherEau>0 %}<i class="jutsu marcherEau"></i>{% endif %}
			{% if user.ninja.jutsuPhoenix>0 %}<i class="jutsu phoenix"></i>{% endif %}
			{% if user.ninja.jutsuResistanceExplosion>0 %}<i class="jutsu resistanceExplosion"></i>{% endif %}
			{% if user.ninja.jutsuTeleportation>0 %}<i class="jutsu teleportation"></i>{% endif %}
			{% if user.ninja.jutsuVague>0 %}<i class="jutsu vague"></i>{% endif %}
			{% if user.ninja.jutsuBouclier>0 %}<i class="jutsu bouclier"></i>{% endif %}
			{% if user.ninja.jutsuDeflagration>0 %}<i class="jutsu deflagration"></i>{% endif %}
			{% if user.ninja.jutsuMultishoot>0 %}<i class="jutsu multishoot"></i>{% endif %}
			{% if user.ninja.jutsuPieux>0 %}<i class="jutsu pieux"></i>{% endif %}
			{% if user.ninja.jutsuMetamorphose>0 %}<i class="jutsu metamorphose"></i>{% endif %}
			{% if user.ninja.jutsuTornade>0 %}<i class="jutsu tornade"></i>{% endif %}
			{% if user.ninja.jutsuBoule>0 %}<i class="jutsu boule"></i>{% endif %}
			{% if user.ninja.jutsuKusanagi>0 %}<i class="jutsu kusanagi"></i>{% endif %}
			{% if user.ninja.jutsuMarcherMur>0 %}<i class="jutsu marcherMur"></i>{% endif %}
			{% if user.ninja.jutsuAcierRenforce>0 %}<i class="jutsu protection"></i>{% endif %}
			{% if user.ninja.jutsuDoubleSaut>0 %}<i class="jutsu doubleSaut"></i>{% endif %}
			{% if user.ninja.jutsuInvisibilite>0 %}<i class="jutsu transparence"></i>{% endif %}
		</div>
		{% endif %}
	</div>
	{% if user.ninja is not empty and user.ninja is defined %}
	<div class="row-fluid">
		<div class="nfo span6" itemprop="memberOf" itemtype="http://schema.org/Organization">
		{% if user.clan is not empty %}
			 <a href="{{ path('ninja_tooken_clan', {clan_nom:user.clan.clan.slug}) }}" itemprop="url"><span itemprop="name">{{ user.clan.clan.nom }}</span></a> - <strong itemprop="jobTitle">{{ ('clan.rang' ~ user.clan.droit)|trans({}, 'game') }}</strong>
		{% else %}
			<strong itemprop="jobTitle">Rōnin</strong>
		{% endif %}
		{% if app.user and app.user.clan and (user.clan is empty or (user.clan and app.user.clan.droit<user.clan.droit)) %}
			<a href="{{ path('ninja_tooken_clan_recruter_ajouter', {'user_nom':user.slug}) }}" class="button small pull-left">{{ 'action.recruter'|trans }}</a>
		{% endif %}
		</div>
		<div class="nfo right span6" itemprop="award">
			<strong>{{ user.ninja.missionCourse }}</strong> {{ 'game.course'|transchoice(user.ninja.missionCourse, {}, 'common') }}<strong> / {{ user.ninja.missionAssassinnat }}</strong> {{ 'game.assassinat'|transchoice(user.ninja.missionAssassinnat, {}, 'common') }}
		</div>
	</div>
	{% endif %}
</div>